@{
     var currencyList = QarList<Currency>("currencyList");
     var weatherList = QarList<Weather>("weatherList");
    var menuList = QarList<Articlecategory>("menuList");
}
<header class="header">
    <!--top mobile menu start-->
    <div class="top-menu bg-white">
        <div class="container">
            <!--Navbar Mobile-->
            <nav class="navbar navbar-expand d-lg-none navbar-light px-0">
                <div id="navbar-mobile" class="collapse navbar-collapse nav-top-mobile">
                    <!--Top left menu-->
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a id="navbarhome" class="nav-link active dropdown-toggle" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false" href="#">@T("ls_Weather")</a>
                            <!--link-->
                            <ul class="dropdown-menu" aria-labelledby="navbarhome">
                                @foreach(var weather in weatherList)
                                {
                                    <li>@weather?.CityName - @weather?.Temperature</li>
                                }
                               
                            </ul>
                            <!-- end link -->
                        </li>
                        <li class="nav-item dropdown">
                            <a id="navbarhome" class="nav-link active dropdown-toggle" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false" href="#">@T("ls_Selectlanguage")</a>
                            <!--link-->
                            <ul class="dropdown-menu" aria-labelledby="navbarhome">
                                 @foreach (var item in LanguageList.Where(x => x.FrontendDisplay == 1).ToList())
                                {
                                    <li class="">
                                                                        
                                        <a href="javascaript:void(0);" data-language="@item.LanguageCulture" data-static="qar">
                                            <img src="@item.LanguageFlagImageUrl" alt=""/> &nbsp;
                                            @item.FullName
                                        </a>
                                    </li>
                                }
                               
                            </ul>
                            <!-- end link -->
                        </li>


                    </ul>
                    <!--Top right menu-->
                    <ul class="navbar-nav ms-auto text-center">
                        @foreach (var currency in currencyList.OrderBy(x => x.DisplayOrder))
                {
                    <li class="nav-item">
                         <span class="vecher-rate font-small">@currency.Symbol</span>
                        <span class="ps-1 nav-text header-text-font font-small"> @(currency.Rate * 1.0 / currency.IntRatio) </span>
                
                    </li>
                    
                       
                }
                       
                       
                    </ul>
                    <!--end top right menu-->
                </div>
            </nav>
            <!-- End Navbar Mobile-->
        </div>
    </div>
    <!-- end top mobile menu -->

    <!-- top menu -->
    <div class="mobile-sticky fs-6 bg-secondary">
        <div class="container">
            <!--Navbar-->
            <nav class="navbar navbar-expand-lg navbar-dark px-0 py-0">
                <!--Hamburger button-->
                <a id="showStartPush" aria-label="sidebar menu"
                    class="navbar-toggler sidebar-menu-trigger side-hamburger border-0 px-0" href="javascript:;">
                    <span class="hamburger-icon">
                        <span></span><span></span><span></span><span></span>
                    </span>
                </a>
                <!-- Mobile logo -->
                <a href="/@CurrentLanguage">
                    <img class="mobile-logo img-fluid d-lg-none mx-auto" src="@GetUrl(SiteSetting?.LightLogo)"
                        alt="@SiteSetting?.Title">
                </a>
                <!--Right Toggle Button-->
                <button class="navbar-toggler px-0" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarTogglerDemo2" aria-controls="navbarTogglerDemo2" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor"
                        viewBox="0 0 512 512">
                        <path d="M221.09,64A157.09,157.09,0,1,0,378.18,221.09,157.1,157.1,0,0,0,221.09,64Z"
                            style="fill:none;stroke:currentColor;stroke-miterlimit:10;stroke-width:32px" />
                        <line x1="338.29" y1="338.29" x2="448" y2="448"
                            style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" />
                    </svg>
                </button>

                <!--Top Navbar-->
                <div id="navbarTogglerDemo" class="collapse navbar-collapse">
                    <!--Top left menu-->
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a id="navbarhome" class="nav-link active dropdown-toggle" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false" href="#">@T("ls_Weather")</a>
                            <!--link-->
                            <ul class="dropdown-menu" aria-labelledby="navbarhome">
                                 @foreach(var weather in weatherList)
                                 {
                                <li><a class="dropdown-item" href="#">@weather?.CityName - @weather?.Temperature</a></li>
                                 }
                            </ul>
                            <!-- end link -->
                        </li>
                         <li class="nav-item dropdown">
                            <a id="navbarhome" class="nav-link active dropdown-toggle" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false" href="#">@T("ls_Selectlanguage")</a>
                            <!--link-->
                            <ul class="dropdown-menu" aria-labelledby="navbarhome">
                                 @foreach (var item in LanguageList.Where(x => x.FrontendDisplay == 1).ToList())
                                {
                                    <li class="">
                                                                        
                                        <a href="javascaript:void(0);" class="dropdown-item" data-language="@item.LanguageCulture" data-static="qar">
                                            <img src="@item.LanguageFlagImageUrl" alt=""/> &nbsp;
                                            @item.FullName
                                        </a>
                                    </li>
                                }
                               
                            </ul>
                            <!-- end link -->
                        </li>
                    </ul>
                    <!--end top left menu-->
                    <!--Top right menu-->
                    <ul class="navbar-nav ms-auto text-center">
                             @foreach (var currency in currencyList.OrderBy(x => x.DisplayOrder))
                {
                    <li class="nav-item" style="color: #ffff; padding:0 10px">
                         @currency.Symbol @(currency.Rate * 1.0 / currency.IntRatio)
                    </li>
                }
                    </ul>
                    <!--end top right menu-->
                </div>
            </nav>
            <!-- End Navbar -->
            <!--search mobile-->
            <div class="collapse navbar-collapse col-12 py-2" id="navbarTogglerDemo2">
                <form class="form-inline uly-search" action="/@CurrentLanguage/article/list" method="post">
                    <div class="input-group w-100">
                        <input type="text" class="form-control border border-end-0 uly-input-search" placeholder="@T("ls_Search")"
                            aria-label="search">
                        <button class="btn btn-primary" type="submit">
                            <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor"
                                viewBox="0 0 512 512">
                                <path d="M221.09,64A157.09,157.09,0,1,0,378.18,221.09,157.1,157.1,0,0,0,221.09,64Z"
                                    style="fill:none;stroke:currentColor;stroke-miterlimit:10;stroke-width:32px" />
                                <line x1="338.29" y1="338.29" x2="448" y2="448"
                                    style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" />
                            </svg>
                        </button>
                    </div>
                </form>
            </div>
            <!--end search mobile-->
        </div>
    </div>
    <!--end top menu-->

    <!--start second header-->
    <div class="second-header">
        <div class="container">
            <div class="row">
                <!--Left content logo-->
                <div class="col-lg-4">
                    <div id="main-logo" class="main-logo my-2 my-lg-4 d-none d-lg-block">
                        <a class="navbar-brand" href="/@CurrentLanguage">
                            <img class="img-fluid" src="@GetUrl(SiteSetting?.DarkLogo)" alt="@SiteSetting?.Title">
                        </a>
                    </div>
                </div>
                <!--Right content ads-->
                <div class="col-lg-8">
                    <div class="my-2 my-md-3 my-lg-4 d-none d-md-block text-center">
                        <a href="#" target="_blank">
                            <img class="img-fluid bg-light w-100" src="@GetUrl("/images/no-img-big.png")"
                                alt="Advertiser space">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End second header-->
</header>

<!--Main menu-->
<div id="showbacktop" class="showbacktop full-nav bg-white border-none border-lg-1 border-bottom shadow-b-sm py-0">
    <div class="container">
        <nav id="main-menu" class="main-menu navbar navbar-expand-lg navbar-light px-2 px-lg-0 py-0">
            <!--Navbar menu-->
            <div id="navbarTogglerDemo1" class="collapse navbar-collapse hover-mode">
                <!-- logo in navbar -->
                <div class="logo-showbacktop">
                    <a href="/@CurrentLanguage">
                        <img class="img-fluid" src="@GetUrl(SiteSetting?.DarkLogo)" alt="@SiteSetting?.Title">
                    </a>
                </div>

                <!--left main menu start-->
                <ul id="start-main" class="navbar-nav main-nav navbar-uppercase first-start-lg-0">
                    <li class="nav-item dropdown">
                        <a id="navbarhome" class="nav-link active" href="/@CurrentLanguage">@T("ls_Home")</a>
                    </li>
                     @{
                                      int j = 1;
                     }
                     
                   @foreach (var menu in menuList.Where(m => m.ParentId == 0).Take(6))
                   {
                       <li class="nav-item dropdown">
                           <a id="navbarDropdown1" class="nav-link dropdown-toggle"  data-bs-toggle="dropdown"  href="@ViewData[$"block{j}AllUrl"]">@menu?.Title</a>
                           <ul class="dropdown-menu" aria-labelledby="navbarDropdown1">
                               @foreach (var subMenu in menuList.Where(m => m.ParentId == menu.Id))
                               {
                                   <li><a class="dropdown-item" href="/@CurrentLanguage/category/@(subMenu.LatynUrl).html">@subMenu.Title</a></li>
                               }
                           </ul>
                       </li>
                       j++;
                   }
                    
                </ul>
                <!--end left main menu-->

                <!--Search form-->
                <div class="navbar-nav ms-auto d-none d-lg-block">
                    <div class="search-box">
                        <!--hide search-->
                        <div class="search-menu no-shadow border-0 py-0">
                            <form class="form-src form-inline uly-search" action="/@CurrentLanguage/article/list" method="post">
                                <div class="input-group">
                                    <input type="text" class="form-control end-0 uly-input-search" name="keywords" value=""
                                        placeholder="@T("ls_Search")" aria-label="search">
                                    <span class="icones">
                                        <svg xmlns="http://www.w3.org/2000/svg" class="ms-n4" width="1rem" height="1rem"
                                            fill="currentColor" viewBox="0 0 512 512">
                                            <path
                                                d="M221.09,64A157.09,157.09,0,1,0,378.18,221.09,157.1,157.1,0,0,0,221.09,64Z"
                                                style="fill:none;stroke:currentColor;stroke-miterlimit:10;stroke-width:32px" />
                                            <line x1="338.29" y1="338.29" x2="448" y2="448"
                                                style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-miterlimit:10;stroke-width:32px" />
                                        </svg>
                                    </span>
                                </div>
                            </form>
                        </div>
                        <!--end hide search-->
                    </div>
                </div>
                <!--end search form-->
            </div>
            <!--End navbar menu-->
        </nav>
    </div>
</div>
<!-- End main menu -->
<!-- sidebar mobile menu -->
<div class="mobile-side">
  <!--Left Mobile menu-->
  <div id="back-menu" class="back-menu back-menu-start">
    <span class="hamburger-icon open">
      <svg class="bi bi-x" width="2rem" height="2rem" viewBox="0 0 16 16" fill="currentColor"
        xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 010 .708l-7 7a.5.5 0 01-.708-.708l7-7a.5.5 0 01.708 0z"
          clip-rule="evenodd"></path>
        <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 000 .708l7 7a.5.5 0 00.708-.708l-7-7a.5.5 0 00-.708 0z"
          clip-rule="evenodd"></path>
      </svg>
    </span>
  </div>

  <nav id="mobile-menu" class="menu-mobile d-flex flex-column push push-start shadow-r-sm bg-white">
    <!-- mobile menu content -->
    <div class="mobile-content mb-auto">
      <!--logo-->
      <div class="logo-sidenav p-2">
        <a href="/@CurrentLanguage">
          <img src="@GetUrl(SiteSetting?.DarkLogo)" class="img-fluid" alt="@SiteSetting?.Title">
        </a>
      </div>

      <!--navigation-->
      <div class="sidenav-menu">
        <nav class="navbar navbar-light navbar-inverse">
          <ul id="side-menu" class="nav navbar-nav list-group list-unstyled side-link">
              <li class="menu-item nav-item"><a href="/@CurrentLanguage" class="nav-link active">@T("ls_Home")</a></li>
             
              @foreach (var menu in menuList.Where(m => m.ParentId == 0).Take(6))
              {
                  <li class="menu-item menu-item-has-children dropdown mega-dropdown nav-item">
                      <a href="#" class="dropdown-toggle nav-link" aria-expanded="false" role="button" data-bs-toggle="dropdown" 
                         id="menu-11">@menu?.Title</a>
                      <ul class="dropdown-menu" aria-labelledby="menu-11" role="menu">
                          @foreach (var subMenu in menuList.Where(m => m.ParentId == menu.Id))
                          {
                              <li class="menu-item nav-item">
                                  <a href="/@CurrentLanguage/category/@(subMenu.LatynUrl).html" class="dropdown-item">@subMenu.Title</a>
                              </li>
                          }
                      </ul>
                  </li>
                 
              }
           
             
          </ul>
        </nav>
      </div>
    </div>
    <div class="mobile-copyright mt-5 px-4 text-center">
      <p>@SiteSetting?.Copyright</p>
    </div>
  </nav>
</div>
<!-- end sidebar mobile menu -->