@{
    var host = (ViewData["host"] ?? string.Empty) as string;
    var siteUrl = (ViewData["siteUrl"] ?? string.Empty) as string;
    var ogTitle = (ViewData["og_title"] ?? SiteSetting?.Title) as string;
    var ogKeywords = (ViewData["og_keywords"] ?? SiteSetting?.Keywords) as string;
    var ogDescription = (ViewData["og_description"] ?? SiteSetting?.Description) as string;
    var ogImage = (ViewData["og_image"] ?? SiteSetting?.DarkLogo) as string;
    ogImage = host + ogImage;
    var ogUrl = host + (ViewData["og_url"] ?? string.Empty);
    var ogType = (ViewData["og_type"] ?? "website") as string;
}
<!DOCTYPE html>
<html lang="@ViewData["uniqueSeoCode"]"
    dir="@(CurrentLanguage.Equals("tote",StringComparison.OrdinalIgnoreCase) ? "rtl" : "ltr")">

<head>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="@SiteSetting?.Favicon" type="image/png">
    <link rel="icon" href="@SiteSetting?.Favicon" type="image/png">
    <title>@ogTitle</title>
    <meta name="keywords" content="@ogKeywords">
    <meta name="description" content="@ogDescription">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="@ogTitle">
    <meta name="twitter:description" content="@ogDescription">
    <meta name="twitter:image" content="@ogImage">
    <meta name="twitter:image:src" content="@ogImage">
    <meta name="twitter:domain" content="@host">
    <meta name="twitter:site" content="@@@SiteSetting?.Title">

    <meta property="og:title" content="@ogTitle">
    <meta property="og:description" content="@ogDescription">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image" content="@ogImage">
    <meta property="og:type" content="@ogType">
    <meta property="og:url" content="@(string.IsNullOrWhiteSpace(ogUrl) ? SiteUrl : ogUrl)">
    <meta property="og:site_name" content="@SiteSetting?.Title">
    <link rel="apple-touch-icon" href="~/themes/@(CurrentTheme.ToLower())/images/fav.png">
    <link rel="manifest" href="~/themes/@(CurrentTheme.ToLower())/js/manifest.json">
    <link rel="shortcut icon" href="~/themes/@(CurrentTheme.ToLower())/img/favicon/favicon.ico" type="image/x-icon">
    <meta name="theme-color" content="#ffffff">
    <link rel="apple-touch-icon" href="~/themes/@(CurrentTheme.ToLower())/img/favicon/apple-icon.png">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&amp;display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/themes/@(CurrentTheme.ToLower())/css/theme.css">
    @await RenderSectionAsync("Styles", required: false)
</head>

<body>
    @{
        var header = $"~/Views/Themes/{CurrentTheme}/Partial/Header.cshtml";
        var footer = $"~/Views/Themes/{CurrentTheme}/Partial/Footer.cshtml";
    }
    <div>
        <partial name="@header" />
        @RenderBody()
    </div>
    <partial name="@footer" />
    <script src="~/themes/@(CurrentTheme.ToLower())/js/jquery-3.6.0.min.js"></script>
    <script src="~/themes/@(CurrentTheme.ToLower())/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/themes/@(CurrentTheme.ToLower())/vendor/hc-sticky/dist/hc-sticky.js"></script>
    <script src="~/themes/@(CurrentTheme.ToLower())/vendor/flickity/dist/flickity.pkgd.min.js"></script>
    <script src="~/themes/@(CurrentTheme.ToLower())/vendor/vanilla-lazyload/dist/lazyload.min.js"></script>
    <script src="~/themes/@(CurrentTheme.ToLower())/vendor/smoothscroll-for-websites/SmoothScroll.js"></script>
    <script src="~/themes/@(CurrentTheme.ToLower())/js/theme.js"></script>
    <script src="~/themes/@(CurrentTheme.ToLower())/js/common.js"></script>
    <script src="~/themes/@(CurrentTheme.ToLower())/js/main.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    @* <script>
    $(document).ready(function () {
    $('#menu').metisMenu();
    });
    </script> *@
</body>

</html>