@{
    Layout = $"~/Views/Themes/{CurrentTheme}/_HomeLayout.cshtml";
    var article = QarModel<Article>("article");
    var rating = QarModel<Rating>("rating");
    var tagList = QarList<Tag>("tagList");
    var canEditArticle = Convert.ToBoolean(ViewData["canEditArticle"] ?? false);
    var topArticleList = QarList<Article>("topArticleList");
    var adminList = QarList<Admin>("adminList");
    
}
<section class="rts-blog-details news-feed-section section-gap">
    <div class="container">
        <div class="row">
            <div class="col-xl-8 left-news-col">
                <div class="blog-details news-left2">
                    <div class="news-top">
                        <div class="icon-text">
                            <span class="viewers fs-10"><a href="#"><i class="fas fa-eye"></i>@article?.ViewCount</a></span>
                            @foreach (var admin in adminList)
                            {
                                if (admin.Id == article.AddAdminId)
                                {
                                    <span class="comment fs-10">
                                        @{
                                            string imageUrl;
                                            if (admin.AvatarUrl != null && admin.AvatarUrl != "")
                                            {
                                                <a>
                                                    <img class="admin-avatar" src="@admin.AvatarUrl?.Replace("_small.","_middle.")" alt="@admin?.Name">
                                                     @admin?.Name
                                                </a>
                                                   
                                            }
                                            else
                                            {
                                                <a href="#">
                                                    <img class="admin-avatar" src="/images/default_avatar.png" alt="admin" />
                                                     @admin?.Name
                                                </a>
                                                    
                                            }
                                        }
                                        
                                       
                                    </span>
                                }
                            }
                            
                            <span class="date fs-10"><a href="#"><i class="fas fa-calendar-alt"></i>@UnixTimeHelper.UnixTimeToLocalString(article.AddTime,CurrentLanguage)</a></span>
                            
                            
                        </div>
                        <p class="description">
                            @article?.ShortDescription
                        </p>
                        <div class="image-section">
                            <div class="blog-image"><img src="@GetUrl(!string.IsNullOrWhiteSpace(article?.FocusAdditionalFile) ? article.FocusAdditionalFile : article?.ThumbnailUrl.Replace("_middle.", "_big.").Replace("_small.", "_big."))" alt="@article?.Title">
                            </div>
                        </div>
                        <h2 class="blog-point-text">@article?.Title</h2>
                        <p class="description">
                            @Html.Raw(article?.FullDescription)
                        </p>
                    </div>
                <div class="bottom-area row">
                    <div class="blog-actions part-gap col-12">
                        <div class="tag-area row">
                            <div class="button-tag col-12">
                                <div class="rating-part row">
                                    <h5 class="reaction-title col-12 ">@T("ls_Yourreaction")?</h5>
                                    <div class="article-reaction-span col-12 mt-3"></div>
                                    <div class="rating col-12">
                                        <div class="row w-100 mt-3">
                                            <div class="col-6 col-lg-2">
                                                <div class="reaction " data-id="@article?.Id" data-rating="satisfied">
                                                    <div class="reaction-icon">
                                                        <i class="fas fa-heart"></i>
                                                    </div>
                                                    <div class="reaction-name">@T("ls_Like")</div>
                                                    <div class="reaction-count">@(rating?.Satisfied ?? 0)</div>
                                                </div>
                                                
                                            </div>
                                           
                                            <div class="col-6 col-lg-3">
                                                <div class="reaction " data-id="@article?.Id" data-rating="dissatisfied">
                                                    <div class="reaction-icon">
                                                        <i class="fa fa-face-frown"></i>
                                                    </div>
                                                    <div class="reaction-name">@T("ls_Dislike")</div>
                                                    <div class="reaction-count">@(rating?.Dissatisfied ?? 0)</div>
                                                </div>
                                                
                                            </div>
                                            
                                           
                                            <div class="col-6 col-lg-3 rating-sm-mt">
                                                <div class="reaction " data-id="@article?.Id" data-rating="funny">
                                                    <div class="reaction-icon">
                                                        <i class="fa fa-laugh-squint"></i>
                                                    </div>
                                                    <div class="reaction-name">@T("ls_Funny")</div>
                                                    <div class="reaction-count">@(rating?.Funny ?? 0)</div>
                                                </div>
                                                
                                            </div>
                                            
                                            
                                            <div class="col-6 col-lg-4 rating-sm-mt">
                                                <div class="reaction" data-id="@article?.Id" data-rating="outrageous">
                                                    <div class="reaction-icon">
                                                       <i class="fa fa-angry"></i>
                                                    </div>
                                                    <div class="reaction-name">@T("ls_Appalling")</div>
                                                    <div class="reaction-count">@(rating?.Outrageous ?? 0)</div>
                                                </div>
                                                
                                            </div>
                                            
                                            

                                            @* <div class="article-reaction-span d-inline-flex ms-md-1 ms-xl-3"></div> *@


                                        </div>
                                       

                                    </div>
                                   
                                </div>
                                
                            </div>
                        </div>
                        
                    </div>
                    <div class="social-area col-12">
                        <div class="social-title">
                            <h3>@T("ls_Sharenormal")</h3>
                        </div>
                        <div class="social-icon d-flex">
                            <ul>
                                @{
                                    string shareTitle = article?.Title ?? "";
                                    string shareUrl = $"{SiteUrl}/{CurrentLanguage}/article/{article?.LatynUrl}.html";
                                }
                                <li><a href="https://facebook.com/share.php?u=@shareUrl" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                <li><a href="https://twitter.com/intent/tweet?text=@shareTitle&url=@shareUrl" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="whatsapp://send?text=@shareTitle @shareUrl" target="_blank"><i class="fab fa-whatsapp"></i></a></li>
                                <li><a href="https://telegram.me/share/url?url=@shareUrl&text=@shareTitle" target="_blank"><i class="fab fa-tumblr"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    
                </div>
                
                  
                    
                  
                </div>
            </div>
            <div class="col-xl-4">
                <div class="news-right-widget">
                    <div class="widget widget-search mb-40">
                       
                           @if (canEditArticle)
                            {
                                <a href="/@CurrentLanguage/catalog/article/edit?id=@article?.Id" class="form-btn form-btn4 editbtn"> @T("ls_Edit")</a>
                            }
                    </div>
                    
                    <div class="widget widget-post mb-40">
                        @if (topArticleList.Count > 0)
                        {
                            <div class="widget-title-box pb-25 mb-30">
                                <h4 class="widget-sub-title2 fs-20">@T("ls_Mostviewed")</h4>
                            </div>
                            <ul class="post-list">
                                @foreach (var top in topArticleList.Take(4))
                                {
                                    <li>
                                        <div class="blog-post mb-30">
                                            <a href="/@CurrentLanguage/article/@(top.LatynUrl).html">
                                                <img src="@GetUrl(top.ThumbnailUrl.Replace("_big.", "_middle."))"
                                                     alt="Post Img" class="top-img"></a>
                                            <div class="post-content">
                                                <h6 class="mb-10">
                                                    <a href="/@CurrentLanguage/article/@(top.LatynUrl).html" class="toptitle">@top?.Title</a></h6>
                                                <span class="fs-14"><i class="fas fa-calendar-alt"></i>@UnixTimeHelper.UnixTimeToLocalString(top.AddTime, CurrentLanguage)</span>
                                            </div>
                                        </div>
                                    </li>

                                }




                            </ul>
                        }

                    </div>
                    <div class="widget widget-categories-tag mb-40">
                        <div class="widget-title-box pb-25 mb-25">
                            <h4 class="widget-sub-title2 fs-20">@T("ls_Tags")</h4>
                        </div>
                        <div class="tag-list">
                            @foreach (var tag in tagList)
                            {

                                <a href="/@CurrentLanguage/tag/@(tag.LatynUrl).html"
                                   class="">#@tag.Title</a>

                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>