@{
  Layout = $"~/Views/Themes/{CurrentTheme}/_HomeLayout.cshtml";
  var latestArticleList = QarList<Article>("latestArticleList");
  var regions = QarList<Articlecategory>("block6title");
  var menuList = QarList<Articlecategory>("menuList");
  var pinnedArticle = QarList<Article>("pinnedArticle");
  var focusArticleList = QarList<Article>("focusArticleList");
  var block1Title = (ViewData["block1Title"] ?? string.Empty) as string;
  var block1ParentTitle = (ViewData["block1ParentTitle"] ?? string.Empty) as string;
  var block1Url = (ViewData["block1Url"] ?? string.Empty) as string; 
  var block1AllUrl = (ViewData["block1AllUrl"] ?? string.Empty) as string;
  var block1ArticleList = QarList<Article>("block1ArticleList");
  var block1ArticleAllList = QarList<Article>("block1ArticleAllList");
  var block2Title = (ViewData["block2Title"] ?? string.Empty) as string;
  var block2ParentTitle = (ViewData["block2ParentTitle"] ?? string.Empty) as string;
  var block2AllUrl = (ViewData["block2AllUrl"] ?? string.Empty) as string;
  var block2Url = (ViewData["block2Url"] ?? string.Empty) as string;
  var block2ArticleList = QarList<Article>("block2ArticleList");
  var block2ArticleAllList = QarList<Article>("block2ArticleAllList");
  var block3ParentTitle = (ViewData["block3ParentTitle"] ?? string.Empty) as string;
  var block3Title = (ViewData["block3Title"] ?? string.Empty) as string;
  var block3AllUrl = (ViewData["block3AllUrl"] ?? string.Empty) as string;
  var block3Url = (ViewData["block3Url"] ?? string.Empty) as string;
  var block3ArticleList = QarList<Article>("block3ArticleList");
  var block3ArticleAllList = QarList<Article>("block3ArticleAllList");
  var block4ParentTitle = (ViewData["block4ParentTitle"] ?? string.Empty) as string;
  var block4Title = (ViewData["block4Title"] ?? string.Empty) as string;
  var block4AllUrl = (ViewData["block4AllUrl"] ?? string.Empty) as string;
  var block4Url = (ViewData["block4Url"] ?? string.Empty) as string;
  var block4ArticleList = QarList<Article>("block4ArticleList");
  var block4ArticleAllList = QarList<Article>("block4ArticleAllList");
  var block5ParentTitle = (ViewData["block5ParentTitle"] ?? string.Empty) as string;
  var block5Title = (ViewData["block5Title"] ?? string.Empty) as string;
  var block5Url = (ViewData["block5Url"] ?? string.Empty) as string;
  var block5AllUrl = (ViewData["block5AllUrl"] ?? string.Empty) as string;
  var block5ArticleList = QarList<Article>("block5ArticleList");
  var block5ArticleAllList = QarList<Article>("block5ArticleAllList");
  var block6ParentTitle = (ViewData["block6ParentTitle"] ?? string.Empty) as string;
  var block6Title = (ViewData["block6Title"] ?? string.Empty) as string;
  var block6AllUrl = (ViewData["block6AllUrl"] ?? string.Empty) as string;
  var block6Url = (ViewData["block6Url"] ?? string.Empty) as string;
  var block6ArticleList = QarList<Article>("block6ArticleList");
  var block6ArticleAllList = QarList<Article>("block6ArticleAllList");
  var block7ParentTitle = (ViewData["block7ParentTitle"] ?? string.Empty) as string;
  var block7Title = (ViewData["block7Title"] ?? string.Empty) as string;
  var block7Url = (ViewData["block7Url"] ?? string.Empty) as string;
  var block7ArticleList = QarList<Article>("block7ArticleList");
  var block7ArticleAllList = QarList<Article>("block7ArticleAllList");
  var block8Title = (ViewData["block8Title"] ?? string.Empty) as string;
  var block8Url = (ViewData["block8Url"] ?? string.Empty) as string;
  var block8ArticleList = QarList<Article>("block8ArticleList");

}

<!--Content start-->
<main id="content" class="mt-5">
  <div class="container">
    <div class="row">
      <!-- top section -->
      <div class="col-12 mt-05">
        <!--focusarticle-->
        @if (focusArticleList != null && focusArticleList.Count > 0)
        {
          <div class="row py-2">
            <!--Breaking box-->
            <div class="col-2 col-sm-1 col-md-3 col-lg-2 py-1 pe-md-0 mb-md-1">
              <div class="d-inline-block d-md-block bg-primary text-white text-center breaking-caret py-1 px-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor"
                     class="bi bi-lightning-fill" viewBox="0 0 16 16">
                  <path
                    d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                </svg>
                <span class="d-none d-md-inline-block">@T("ls_Focusnews")</span>
              </div>
            </div>

            <!--Breaking content-->
            <div class="col-10 col-sm-11 col-md-9 col-lg-10 ps-1 ps-md-2">
              <div class="breaking-box position-relative py-2">
                <div class="box-carousel"
                     data-flickity='{ "cellAlign": "left", "wrapAround": true, "adaptiveHeight": true, "prevNextButtons": true , "autoPlay": 5000, "pageDots": false, "imagesLoaded": true }'>
                  <!--list post-->
                  @foreach (var focus in focusArticleList.Take(3))
                  {
                    <div class="col-12 aribudin">
                      <a class="h6 fw-normal" href="/@CurrentLanguage/article/@(focus?.LatynUrl).html">@focus?.Title</a>
                    </div>
                  }

                </div><!--end breaking news-->
              </div>
            </div>
          </div>
        }
        <!--last news-->
        @if (focusArticleList.Count > 0)
        {
           <div class="row featured-1 mb-5">
          <!--Start left cover-->
          <div class="col-md-6 pb-05 pt-05 pe-md-05">
            <div class="position-relative overflow-hidden">
              <div class="nav-slider-hover nav-dots-top-right light-dots"
                data-flickity='{ "cellAlign": "left", "wrapAround": true, "adaptiveHeight": true, "prevNextButtons": true , "pageDots": true, "imagesLoaded": true }'>
                <!--Item slider-->
               @foreach(var pinned in pinnedArticle)
               {
                   <article class="col-12">
                                    <div class="card card-full text-light overflow zoom">
                                      <!--thumbnail-->
                                      <div class="height-ratio image-wrapper">
                                        <a href="/@CurrentLanguage/article/@(pinned.LatynUrl).html">
                                          <img class="img-fluid lazy last-img-height" src="@GetUrl(pinned?.ThumbnailUrl.Replace("_big.", "_middle."))"
                                            data-src="@GetUrl(pinned?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@pinned?.Title">
                                        </a>
                                        <div class="position-absolute p-3 b-0 w-100 bg-lg-shadow">
                                          <!--title-->
                                          <a href="/@CurrentLanguage/article/@(pinned.LatynUrl).html">
                                            <h2
                                              class="h1-sm h2-md display-4-lg fw-bold text-capitalize heading-letter-spacing text-white">
                                              @pinned?.Title</h2>
                                          </a>
                                          <!-- meta title -->
                                          <div class="news-meta">
                                            <time class="news-date" datetime="2019-10-22">@UnixTimeHelper.UnixTimeToLocalString(pinned.AddTime,CurrentLanguage)</time>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </article>
                }
               
              </div>
            </div>
          </div>
         
          <div class="col-md-6 pt-05 ps-md-05">
            @if (focusArticleList.Count > 1)
            {
              <div class="row newsbox">
                @for (int j = 0; j < 4 && j < focusArticleList.Count; j++)
                {
                  <article class="col-6">
                    <div class="card card-full text-white overflow zoom">
                      <div class="height-ratio image-wrapper">
                        <!--thumbnail-->
                        <a href="/@CurrentLanguage/article/@(focusArticleList[j].LatynUrl).html">
                          <img class="img-fluid lazy last-left-img-height" src="@GetUrl(focusArticleList[j]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                               data-src="@GetUrl(focusArticleList[j]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@focusArticleList[j]?.Title">
                        </a>
                        <!-- category & title -->
                        <div class="position-absolute px-3 pb-3 pt-0 b-0 w-100 bg-shadow">
                          @foreach (var menu in menuList)
                          {
                            if (focusArticleList[j].CategoryId == menu.Id)
                            {
                              <a class="p-1 badge bg-primary text-white" href="/@CurrentLanguage/category/@(menu.LatynUrl).html">@menu?.Title</a>
                            }
                          }
                          <a href="#">
                            <h2 class="h6 h4-sm h6-md h5-lg text-white my-1 news-title">@focusArticleList[j]?.Title
                            </h2>
                          </a>
                        </div>
                      </div>
                    </div>
                  </article>
                }


              </div>
            }
          
          </div>
          <!--End box news-->
        </div>
        }
       
       
      </div>

    <!--block1ArticleList-->
   
       <div class="col-md-8">
       <!-- Block start -->
        @if (block1ArticleAllList.Count > 0 && block1ArticleAllList != null)
           {
        <div class="block-area post-content">
          <div class="row py-2">
            <!--Breaking box-->
            <div class="col-2 col-sm-1 col-md-3 col-lg-2 py-1 pe-md-0 mb-md-1">
              <div class="d-inline-block d-md-block bg-primary text-white text-center breaking-caret py-1 px-2">
                <a href="@block1AllUrl">
                  <span class="d-none d-md-inline-block text-white">@block1ParentTitle</span>
                </a>
                        
              </div>
            </div>
         
            <!--Breaking content-->
            <div class="col-10 col-sm-11 col-md-9 col-lg-10 ps-1 ps-md-2">
              <div class="breaking-box position-relative py-2">
                <div class="box-carousel"
                     data-flickity='{ "cellAlign": "left", "wrapAround": true, "adaptiveHeight": true, "prevNextButtons": true , "autoPlay": 5000, "pageDots": false, "imagesLoaded": true }'>
                  <!--list post-->
                           
                  <div class="col-12 aribudin">
                    <a class="h6 fw-normal" href="@SiteSetting?.Youtube">
                      <svg xmlns="http://www.w3.org/2000/svg" width="1.5rem" height="1.5rem" fill="currentColor" class="bi bi-youtube text-youtube" viewBox="0 0 16 16">
                        <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.122C.002 7.343.01 6.6.064 5.78l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"></path>
                      </svg>
                      Ютубға жазылыңыз 
                    </a>
                  </div>
                  <div class="col-12 aribudin">
                    <a class="h6 fw-normal" href="@SiteSetting?.Youtube">
                      <svg xmlns="http://www.w3.org/2000/svg" class="text-instagram" width="1.5rem" height="1.5rem" fill="currentColor" viewBox="0 0 512 512"><path d="M349.33,69.33a93.62,93.62,0,0,1,93.34,93.34V349.33a93.62,93.62,0,0,1-93.34,93.34H162.67a93.62,93.62,0,0,1-93.34-93.34V162.67a93.62,93.62,0,0,1,93.34-93.34H349.33m0-37.33H162.67C90.8,32,32,90.8,32,162.67V349.33C32,421.2,90.8,480,162.67,480H349.33C421.2,480,480,421.2,480,349.33V162.67C480,90.8,421.2,32,349.33,32Z"></path><path d="M377.33,162.67a28,28,0,1,1,28-28A27.94,27.94,0,0,1,377.33,162.67Z"></path><path d="M256,181.33A74.67,74.67,0,1,1,181.33,256,74.75,74.75,0,0,1,256,181.33M256,144A112,112,0,1,0,368,256,112,112,0,0,0,256,144Z"></path></svg>
                      Инстаграмға жазылыңыз 
                    </a>
                  </div>
                  <div class="col-12 aribudin">
                    <a class="h6 fw-normal" href="@SiteSetting?.Youtube">
                      <svg xmlns="http://www.w3.org/2000/svg" class="me-1 " width="1.5rem" height="1.5rem" fill="currentColor" viewBox="0 0 512 512" style="color: #54b651">
                        <path d="M414.73,97.1A222.14,222.14,0,0,0,256.94,32C134,32,33.92,131.58,33.87,254A220.61,220.61,0,0,0,63.65,365L32,480l118.25-30.87a223.63,223.63,0,0,0,106.6,27h.09c122.93,0,223-99.59,223.06-222A220.18,220.18,0,0,0,414.73,97.1ZM256.94,438.66h-.08a185.75,185.75,0,0,1-94.36-25.72l-6.77-4L85.56,427.26l18.73-68.09-4.41-7A183.46,183.46,0,0,1,71.53,254c0-101.73,83.21-184.5,185.48-184.5A185,185,0,0,1,442.34,254.14C442.3,355.88,359.13,438.66,256.94,438.66ZM358.63,300.47c-5.57-2.78-33-16.2-38.08-18.05s-8.83-2.78-12.54,2.78-14.4,18-17.65,21.75-6.5,4.16-12.07,1.38-23.54-8.63-44.83-27.53c-16.57-14.71-27.75-32.87-31-38.42s-.35-8.56,2.44-11.32c2.51-2.49,5.57-6.48,8.36-9.72s3.72-5.56,5.57-9.26.93-6.94-.46-9.71-12.54-30.08-17.18-41.19c-4.53-10.82-9.12-9.35-12.54-9.52-3.25-.16-7-.2-10.69-.2a20.53,20.53,0,0,0-14.86,6.94c-5.11,5.56-19.51,19-19.51,46.28s20,53.68,22.76,57.38,39.3,59.73,95.21,83.76a323.11,323.11,0,0,0,31.78,11.68c13.35,4.22,25.5,3.63,35.1,2.2,10.71-1.59,33-13.42,37.63-26.38s4.64-24.06,3.25-26.37S364.21,303.24,358.63,300.47Z" style="fill-rule:evenodd"></path>
                      </svg>
                      Ватсапға жазылыңыз
                    </a>
                  </div>
                           
                </div>
              </div>
            </div>
          </div>
          
          <div class="row">
           
            <div class="col-lg-6">
              <article class="card card-full hover-a mb-4">
                <!--thumbnail-->
                <div class="ratio_360-202 image-wrapper">
                  <a href="/@CurrentLanguage/article/@(block1ArticleAllList[0].LatynUrl).html">
                    <img class="img-fluid lazy" src="@GetUrl(block1ArticleAllList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                         data-src="@GetUrl(block1ArticleAllList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block1ArticleAllList[0]?.Title">
                  </a>
                </div>
                <div class="card-body">
                  <!-- title -->
                  <h2 class="card-title h1-sm h3-lg">
                    <a href="/@CurrentLanguage/article/@(block1ArticleAllList[0].LatynUrl).html" class="">@block1ArticleAllList[0]?.Title</a>
                  </h2>
                  <!-- author, date and comments -->
                  <div class="card-text mb-2 text-muted small">
                    <time datetime="2019-10-22">@UnixTimeHelper.UnixTimeToLocalString(block1ArticleAllList[0].AddTime,CurrentLanguage)</time>
                  </div>
                  <!--description-->
                  <p class="card-text">@block1ArticleAllList[0]?.ShortDescription</p>
                </div>
              </article>
            </div>
            <!--end post left-->
            <!--post right list start-->
            <div class="col-lg-6">
              <!--right list-->
               @if (block1ArticleAllList.Count > 1)
               {
                 for (int i = 1; i < block1ArticleAllList.Count && i <= 4; i++)
                 {
                   <article class="card card-full hover-a mb-4">
                     <div class="row">
                       <!--thumbnail-->
                       <div class="col-3 col-md-4 pe-2 pe-md-0">
                         <div class="ratio_115-80 image-wrapper">
                           <a href="/@CurrentLanguage/article/@(block1ArticleAllList[i].LatynUrl).html">
                             <img class="img-fluid lazy news-block1-left-img" src="@GetUrl(block1ArticleAllList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                                  data-src="@GetUrl(block1ArticleAllList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block1ArticleAllList[i]?.Title">
                           </a>
                         </div>
                       </div>
                       <!-- title & date -->
                       <div class="col-9 col-md-8">
                         <div class="card-body pt-0">
                           <h3 class="card-title h6 h5-sm h6-lg">
                             <a href="/@CurrentLanguage/article/@(block1ArticleAllList[i].LatynUrl).html" class="news-title">@block1ArticleAllList[i]?.Title</a>
                           </h3>
                           <div class="card-text small text-muted">
                             <time datetime="2019-10-22">@UnixTimeHelper.UnixTimeToLocalString(block1ArticleAllList[i].AddTime,CurrentLanguage)</time>
                           </div>
                         </div>
                       </div>
                     </div>
                   </article>
                 }
               }
                                   
             
            </div>
          </div>
        </div>
}
      
        <!--block2ArticleList-->
       <div class="block-area">
         <div class="row">
           <!--left post-->
           @if (block2ArticleAllList.Count > 0)
           {
             <div class="col-lg-6">
               <!--block title-->
               <div class="block-title-6">
                 <h4 class="h5 border-primary">
                   <a href="@block2AllUrl">
                     <span class="bg-primary text-white">@block2ParentTitle</span>
                   </a>
                  
                 </h4>
               </div>
              
               <div class="big-post">
                 <article class="card card-full hover-a mb-4">
                   <!--thumbnail-->
                   <div class="ratio_360-202 image-wrapper">
                     <a href="/@CurrentLanguage/article/@(block2ArticleAllList[0].LatynUrl).html">
                       <img class="img-fluid lazy " src="@GetUrl(block2ArticleAllList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                            data-src="@GetUrl(block2ArticleAllList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block2ArticleAllList[0]?.Title">
                     </a>
                   </div>
                   <div class="card-body">
                     <!--title-->
                     <h2 class="card-title h1-sm h3-lg">
                       <a href="/@CurrentLanguage/article/@(block2ArticleAllList[0].LatynUrl).html">@block2ArticleAllList[0]?.Title</a>
                     </h2>
                     <!-- author, date & comments -->
                     <div class="card-text mb-2 text-muted small">
                      
                       <time datetime="2019-10-22">@UnixTimeHelper.UnixTimeToLocalString(block2ArticleAllList[0].AddTime,CurrentLanguage)</time>
                     </div>
                     <!--description-->
                     <p class="card-text">@block2ArticleAllList[0]?.ShortDescription</p>
                   </div>
                 </article>
               </div>
               <div class="small-post">
                 <!--post list-->
                 @if (block2ArticleAllList.Count > 1)
                 {
                   for (int i = 1; i < block2ArticleAllList.Count && i <= 4; i++)
                   {
                     <article class="card card-full hover-a mb-4">
                       <div class="row">
                         <!--thumbnail-->
                         <div class="col-3 col-md-4 pe-2 pe-md-0">
                           <div class="ratio_115-80 image-wrapper">
                             <a href="/@CurrentLanguage/article/@(block2ArticleAllList[i].LatynUrl).htm">
                               <img class="img-fluid lazy news-block1-left-img" src="@GetUrl(block2ArticleAllList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                                    data-src="@GetUrl(block2ArticleAllList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block2ArticleAllList[i]?.Title">
                             </a>
                           </div>
                         </div>
                         <!-- title & date -->
                         <div class="col-9 col-md-8">
                           <div class="card-body pt-0">
                             <h3 class="card-title h6 h5-sm h6-lg">
                               <a href="/@CurrentLanguage/article/@(block2ArticleAllList[i].LatynUrl).htm" class="news-title">@block2ArticleAllList[i]?.Title</a>
                             </h3>
                             <div class="card-text small text-muted">
                               <time datetime="2019-10-16">@UnixTimeHelper.UnixTimeToLocalString(block2ArticleAllList[i].AddTime,CurrentLanguage)</time>
                             </div>
                           </div>
                         </div>
                       </div>
                     </article>
                   }
                 }
                                
               </div>
               <!--end post small-->
             </div>
           }
           <!--end left post-->

           <!--block4ArticleList-->
           @if (block4ArticleAllList.Count > 0)
           {
             <div class="col-lg-6">
               <!--block title-->
               <div class="block-title-6">
                 <h4 class="h5 border-primary">
                   <a href="@block4AllUrl">
                     <span class="bg-primary text-white">@block4ParentTitle</span>
                   </a>
                  
                 </h4>
               </div>
               <div class="big-post">
                 <article class="card card-full hover-a mb-4">
                   <!--thumbnail-->
                   <div class="ratio_360-202 image-wrapper">
                     <a href="/@CurrentLanguage/article/@(block4ArticleAllList[0].LatynUrl).html">
                       <img class="img-fluid lazy" src="@GetUrl(block4ArticleAllList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                            data-src="@GetUrl(block4ArticleAllList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block4ArticleAllList[0]?.Title">
                     </a>
                   </div>
                   <div class="card-body">
                     <h2 class="card-title h1-sm h3-lg">
                       <a href="/@CurrentLanguage/article/@(block4ArticleAllList[0].LatynUrl).html">@block4ArticleAllList[0]?.Title</a>
                     </h2>
                     <div class="card-text mb-2 text-muted small">
                       <time datetime="2019-10-22">@UnixTimeHelper.UnixTimeToLocalString(block4ArticleAllList[0].AddTime,CurrentLanguage)</time>
                     </div>
                     <p class="card-text">@block4ArticleAllList[0]?.ShortDescription</p>
                   </div>
                 </article>
               </div>
               <div class="small-post">
                 @if (block4ArticleAllList.Count > 1)
                 {
                   for (int i = 1; i < block4ArticleAllList.Count && i <= 4; i++)
                   {
                     <article class="card card-full hover-a mb-4">
                       <div class="row">
                         <!--thumbnail-->
                         <div class="col-3 col-md-4 pe-2 pe-md-0">
                           <div class="ratio_115-80 image-wrapper">
                             <a href="/@CurrentLanguage/article/@(block4ArticleAllList[i].LatynUrl).html">
                               <img class="img-fluid lazy news-block1-left-img" src="@GetUrl(block4ArticleAllList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                                    data-src="@GetUrl(block4ArticleAllList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block4ArticleAllList[i]?.Title">
                             </a>
                           </div>
                         </div>
                         <!-- title & date -->
                         <div class="col-9 col-md-8">
                           <div class="card-body pt-0">
                             <h3 class="card-title h6 h5-sm h6-lg">
                               <a href="/@CurrentLanguage/article/@(block4ArticleAllList[i].LatynUrl).html" class="news-title">@block4ArticleAllList[i]?.Title</a>
                             </h3>
                             <div class="card-text small text-muted">
                               <time datetime="2019-10-09">@UnixTimeHelper.UnixTimeToLocalString(block4ArticleAllList[i].AddTime,CurrentLanguage)</time>
                             </div>
                           </div>
                         </div>
                       </div>
                     </article>
                   }
                 }
                                
               </div>
             </div>
           }
         </div>
       </div>
       <div class="block-area my-3">
         <a href="#" target="_blank">
           <img class="img-fluid bg-light w-100" src="@GetUrl("/images/no-img-big.png")"
                alt="Advertiser space">
         </a>
                   
       </div>
       <!--block5ArticleList-->
       @if (block5ArticleAllList.Count > 0)
       {
      <div class="block-area">
         
         <div class="block-area post-content">
                  <div class="row py-2">
                    <!--Breaking box-->
                    <div class="col-2 col-sm-1 col-md-3 col-lg-2 py-1 pe-md-0 mb-md-1">
                      <div class="d-inline-block d-md-block bg-primary text-white text-center breaking-caret py-1 px-2">
                        <a href="@block5AllUrl">
                          <span class="d-none d-md-inline-block text-white">@block5ParentTitle</span>
                        </a>
                                
                      </div>
                    </div>
                 
                    <!--Breaking content-->
                    <div class="col-10 col-sm-11 col-md-9 col-lg-10 ps-1 ps-md-2">
                      <div class="breaking-box position-relative py-2">
                        <div class="box-carousel"
                             data-flickity='{ "cellAlign": "left", "wrapAround": true, "adaptiveHeight": true, "prevNextButtons": true , "autoPlay": 5000, "pageDots": false, "imagesLoaded": true }'>
                          <!--list post-->
                                   
                          <div class="col-12 aribudin">
                            <a class="h6 fw-normal" href="@SiteSetting?.Telegram">
                              <img src="/images/telegram.svg" class="" style="width:1.5rem;height: 1.5rem" alt="">
                              Телеграмға жазылыңыз 
                            </a>
                          </div>
                          <div class="col-12 aribudin">
                            <a class="h6 fw-normal" href="@SiteSetting?.Tiktok">
                               <img src="/images/tiktok.svg" class="" style="width:1.5rem;height: 1.5rem" alt="">
                              Тиктокға жазылыңыз
                            </a>
                          </div>
                          <div class="col-12 aribudin">
                            <a class="h6 fw-normal" href="@SiteSetting?.Twitter">
                              <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-twitter text-twitter " width="1.5rem" height="1.5rem" viewBox="0 0 16 16">
                                <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"></path>
                              </svg>
                              
                              Твиттерге жазылыңыз
                            </a>
                          </div>
                                   
                        </div>
                      </div>
                    </div>
                  </div>
                  
                  <div class="row">
                   
                    <div class="col-lg-6">
                      <article class="card card-full hover-a mb-4">
                        <!--thumbnail-->
                        <div class="ratio_360-202 image-wrapper">
                          <a href="/@CurrentLanguage/article/@(block1ArticleAllList[0].LatynUrl).html">
                            <img class="img-fluid lazy" src="@GetUrl(block1ArticleAllList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                                 data-src="@GetUrl(block1ArticleAllList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block1ArticleAllList[0]?.Title">
                          </a>
                        </div>
                        <div class="card-body">
                          <!-- title -->
                          <h2 class="card-title h1-sm h3-lg">
                            <a href="/@CurrentLanguage/article/@(block1ArticleAllList[0].LatynUrl).html" class="">@block1ArticleAllList[0]?.Title</a>
                          </h2>
                          <!-- author, date and comments -->
                          <div class="card-text mb-2 text-muted small">
                            <time datetime="2019-10-22">@UnixTimeHelper.UnixTimeToLocalString(block1ArticleAllList[0].AddTime,CurrentLanguage)</time>
                          </div>
                          <!--description-->
                          <p class="card-text">@block1ArticleAllList[0]?.ShortDescription</p>
                        </div>
                      </article>
                    </div>
                    <!--end post left-->
                    <!--post right list start-->
                    <div class="col-lg-6">
                      <!--right list-->
                       @if (block1ArticleAllList.Count > 1)
                       {
                         for (int i = 1; i < block1ArticleAllList.Count && i <= 4; i++)
                         {
                           <article class="card card-full hover-a mb-4">
                             <div class="row">
                               <!--thumbnail-->
                               <div class="col-3 col-md-4 pe-2 pe-md-0">
                                 <div class="ratio_115-80 image-wrapper">
                                   <a href="/@CurrentLanguage/article/@(block1ArticleAllList[i].LatynUrl).html">
                                     <img class="img-fluid lazy news-block1-left-img" src="@GetUrl(block1ArticleAllList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                                          data-src="@GetUrl(block1ArticleAllList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block1ArticleAllList[i]?.Title">
                                   </a>
                                 </div>
                               </div>
                               <!-- title & date -->
                               <div class="col-9 col-md-8">
                                 <div class="card-body pt-0">
                                   <h3 class="card-title h6 h5-sm h6-lg">
                                     <a href="/@CurrentLanguage/article/@(block1ArticleAllList[i].LatynUrl).html" class="news-title">@block1ArticleAllList[i]?.Title</a>
                                   </h3>
                                   <div class="card-text small text-muted">
                                     <time datetime="2019-10-22">@UnixTimeHelper.UnixTimeToLocalString(block1ArticleAllList[i].AddTime,CurrentLanguage)</time>
                                   </div>
                                 </div>
                               </div>
                             </div>
                           </article>
                         }
                       }
                                           
                     
                    </div>
                  </div>
                </div>
        <div class="block-title-6">
            <h4 class="h5 border-primary">
              <a href="@block5AllUrl">
                <span class="bg-primary text-white">@block5ParentTitle</span>
              </a>
              
            </h4>
          </div>
          <!--big post start-->
          <div class="big-post">
            <article class="card card-full hover-a mb-4">
              <div class="row">
                <div class="col-lg-6">
                  <!-- thumbnail -->
                  <div class="ratio_360-202 image-wrapper">
                    <a href="/@CurrentLanguage/article/@(block5ArticleAllList[0].LatynUrl).html">
                      <img class="img-fluid lazy" src="@GetUrl(block5ArticleAllList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                        data-src="@GetUrl(block5ArticleAllList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block5ArticleAllList[0]?.Title">
                    </a>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card-body pt-3 pt-lg-0">
                    <!--title-->
                    <h2 class="card-title h1-sm h3-lg">
                      <a href="/@CurrentLanguage/article/@(block5ArticleAllList[0].LatynUrl).html">@block5ArticleAllList[0]?.Title</a>
                    </h2>
                    <!-- author, date and comments -->
                    <div class="card-text mb-2 text-muted small">
                      <time datetime="2019-10-21">@UnixTimeHelper.UnixTimeToLocalString(block5ArticleAllList[0].AddTime,CurrentLanguage)</time>
                    </div>
                    <!--description-->
                    <p class="card-text">@block5ArticleAllList[0]?.ShortDescription</p>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div class="row small-post">
              @if (block5ArticleAllList.Count > 1)
              {
                for (int i = 1; i < block5ArticleAllList.Count && i <= 4; i++)
                {
                  <article class="col-lg-6">
                    <div class="card card-full hover-a mb-4">
                      <div class="row">
                        <!--thumbnail-->
                        <div class="col-3 col-md-4 pe-2 pe-md-0">
                          <div class="ratio_115-80 image-wrapper">
                            <a href="/@CurrentLanguage/article/@(block5ArticleAllList[i].LatynUrl).html">
                              <img class="img-fluid lazy news-block1-left-img" src="@GetUrl(block5ArticleAllList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                                   data-src="@GetUrl(block5ArticleAllList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block5ArticleAllList[i]?.Title">
                            </a>
                          </div>
                        </div>
                        <!-- title & date -->
                        <div class="col-9 col-md-8">
                          <div class="card-body pt-0">
                            <h3 class="card-title h6 h5-sm h6-lg">
                              <a href="/@CurrentLanguage/article/@(block5ArticleAllList[i].LatynUrl).html" class="news-title">@block5ArticleAllList[i]?.Title</a>
                            </h3>
                            <div class="card-text small text-muted">
                              <time datetime="2019-10-19">@UnixTimeHelper.UnixTimeToLocalString(block5ArticleAllList[i].AddTime,CurrentLanguage)</time>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                }
              }
                              
          </div>
        </div>
         
       }
       <!--block3ArticleList-->
       @if (block3ArticleAllList.Count > 0)
       {
           <div class="block-area">
          <div class="block-title-6">
            <h4 class="h5 border-primary">
              <a href="@block3AllUrl">
                <span class="bg-primary text-white">@block3ParentTitle</span>
              </a>
              
            </h4>
          </div>
             <div class="row">
               @foreach (var trvel in block3ArticleAllList)
               {
                 <article class="col-sm-6 col-md-12 col-lg-6">
                   <div class="card card-full hover-a mb-4">
                     <!--thumbnail-->
                     <div class="ratio_360-202 image-wrapper">
                       <a href="/@CurrentLanguage/article/@(trvel.LatynUrl).html">
                         <img class="img-fluid lazy" src="@GetUrl(trvel?.ThumbnailUrl.Replace("_big.", "_middle."))"
                              data-src="@GetUrl(trvel?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@trvel?.Title">
                       </a>
                     </div>
                     <a class="bg-full-shadow" aria-label="overlay article" href="#"></a>
                     <div class="position-absolute px-3 top-3 w-100 z-index-5 text-center">
                       <!--title-->
                       <a href="/@CurrentLanguage/article/@(trvel.LatynUrl).html">
                         <h5 class="card-title h3 h4-sm h3-md text-white my-1 news-title">@trvel?.Title</h5>
                       </a>
                       <time class="d-sm-none d-md-inline m-0 text-white" datetime="2019-10-21">@UnixTimeHelper.UnixTimeToLocalString(trvel.AddTime,CurrentLanguage)</time>
                     </div>
                   </div>
                 </article>
               }
              
               <div class="gap-05"></div>
             </div>
          <!-- end block content -->
        </div>
       }
      </div>
  
     
      <!--end left column-->

      <!--start right column-->
      <aside class="col-md-4 end-sidebar-lg">
        <div class="sticky">
          <!--Social network 2-->
          <aside class="widget">
            <!-- widget title -->
            <div class="block-title-4">
              <h4 class="h5 title-arrow">
                <span>@T("ls_SocialLinks")</span>
              </h4>
            </div>
            <!-- widget content -->
            <ul class="list-unstyled social-two">
              <li class="facebook"><a class="bg-facebook text-white"  href="@SiteSetting?.Facebook" target="_blank" rel="noopener noreferrer"
                  aria-label="facebook">Facebook</a></li>
              <li class="telegram"><a class="bg-telegram text-white" href="@SiteSetting?.Telegram" target="_blank" rel="noopener noreferrer"
                               aria-label="Telegram">Telegram</a></li>
              <li class="instagram"><a class="bg-instagram text-white" href="@SiteSetting?.Instagram" target="_blank"
                  rel="noopener noreferrer" aria-label="instagram">Instagram</a></li>
              <li class="youtube"><a class="bg-youtube text-white" href="@SiteSetting?.Youtube" target="_blank" rel="noopener noreferrer"
                                     aria-label="youtube">Youtube</a></li>
              <li class="twitter"><a class="bg-twitter text-white" href="@SiteSetting?.Twitter" target="_blank" rel="noopener noreferrer" aria-label="twitter">Twitter</a></li>
              <li class="whatsapp">
                <a class="bg-whatsapp text-white " href="@SiteSetting?.Whatsapp" target="_blank" rel="noopener noreferrer" aria-label="whatsapp">Whatsapp</a>
              </li>
            </ul>
            <!-- end widget content -->
            <div class="gap-15"></div>
          </aside>

          <!-- post with number -->
          <aside class="widget">
            <img src="@GetUrl("/images/no_image.png")" alt="" class="w-100">
            <div class="gap-0"></div>
          </aside>
          <!-- end post with number -->

          <!-- latest news -->
          @if (latestArticleList.Count > 0)
          {
              <aside class="widget">
            <!--Block title-->
            <div class="block-title-4">
              <h4 class="h5 title-arrow">
                <span>@T("ls_Latestnews")</span>
              </h4>
            </div>
            <!--post big start-->
            <div class="big-post">
              <article class="card card-full hover-a mb-4">
                <!--thumbnail-->
                <div class="ratio_360-202 image-wrapper">
                  <a href="/@CurrentLanguage/article/@(latestArticleList[0].LatynUrl).html">
                    <img class="img-fluid lazy" src="@GetUrl(latestArticleList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                      data-src="@GetUrl(latestArticleList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@latestArticleList[0]?.Title">
                  </a>
                </div>
                <div class="card-body">
                  <!--title-->
                  <h2 class="card-title h1-sm h3-md">
                    <a href="/@CurrentLanguage/article/@(latestArticleList[0].LatynUrl).html">@latestArticleList[0]?.Title</a>
                  </h2>
                  <!-- author & date -->
                  <div class="card-text mb-2 text-muted small">
                    <time datetime="2019-10-22">@UnixTimeHelper.UnixTimeToLocalString(latestArticleList[0].AddTime,CurrentLanguage)</time>
                  </div>
                  <!--description-->
                  <p class="card-text">@latestArticleList[0]?.ShortDescription</p>
                </div>
              </article>
            </div>
            <!--end post big-->
            <!--post small start-->
            <div class="small-post">
               @if (latestArticleList.Count > 1)
               {
                 for (int i = 1; i < 4 && i < latestArticleList.Count; i++)
                 {
                   <article class="card card-full hover-a mb-4">
                     <div class="row">
                       <!--thumbnail-->
                       <div class="col-3 col-md-4 pe-2 pe-md-0">
                         <div class="ratio_110-77 image-wrapper">
                           <a href="/@CurrentLanguage/article/@(latestArticleList[i].LatynUrl).html">
                             <img class="img-fluid lazy" src="@GetUrl(latestArticleList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                                  data-src="@GetUrl(latestArticleList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@latestArticleList[i]?.Title">
                           </a>
                         </div>
                       </div>
                       <!-- title & date -->
                       <div class="col-9 col-md-8">
                         <div class="card-body pt-0">
                           <h3 class="card-title h6 h5-sm h6-md">
                             <a href="/@CurrentLanguage/article/@(latestArticleList[i].LatynUrl).html" class="news-title">@latestArticleList[i]?.Title</a>
                           </h3>
                           <div class="card-text small text-muted">
                             <time datetime="2019-10-16">@UnixTimeHelper.UnixTimeToLocalString(latestArticleList[i].AddTime,CurrentLanguage)</time>
                           </div>
                         </div>
                       </div>
                     </div>
                   </article>
                 }
               }
             
              
            </div>
            <!--end post small-->
            <div class="gap-0"></div>
          </aside>
          }
        
          <!-- end latest post -->

          <!--Advertiser-->
          <aside class="widget">
            <div class="hover-a text-center">
              <a href="#">
                <img class="img-fluid bg-light w-100" src="@GetUrl("/images/no_image.png")" alt="ads space">
              </a>
            </div>
            <div class="gap-15"></div>
          </aside>
          <!--end advertiser-->
        </div>
      </aside>
      <!--end right column-->

    <!-- block6ArticleList -->
    @if (block6ArticleAllList.Count > 0)
    {
        <div class="col-12 mb-4">
        <!-- Block start -->
        <div class="block-area p-4 border bg-light-black">
         <div class="row py-2">
                     <!--Breaking box-->
                     <div class="col-2 col-sm-1 col-md-3 col-lg-2 py-1 pe-md-0 mb-md-1">
                       <div class="d-inline-block d-md-block bg-primary text-white text-center breaking-caret py-1 px-2">
                         <a href="@block6AllUrl">
                            <span class="d-none d-md-inline-block text-white">@block6ParentTitle</span>
                         </a>
                        
                       </div>
                     </div>
         
                     <!--Breaking content-->
                     <div class="col-10 col-sm-11 col-md-9 col-lg-10 ps-1 ps-md-2">
                       <div class="breaking-box position-relative py-2">
                         <div class="box-carousel"
                              data-flickity='{ "cellAlign": "left", "wrapAround": true, "adaptiveHeight": true, "prevNextButtons": true , "autoPlay": 5000, "pageDots": false, "imagesLoaded": true }'>
                           <!--list post-->
                           @foreach (var region in regions)
                           {
                             <div class="col-12 aribudin">
                               <a class="h6 fw-normal" href="/@CurrentLanguage/article/@(region?.LatynUrl).html">@region?.Title</a>
                             </div>
                           }
         
                         </div>
                       </div>
                     </div>
                   </div>
          <div class="nav-slider-hover nav-dots-top-right light-dots"
            data-flickity='{ "cellAlign": "left", "wrapAround": true, "adaptiveHeight": true, "prevNextButtons": true , "pageDots": true, "imagesLoaded": true }'>
            @foreach (var block6 in block6ArticleAllList.Take(5))
            {
              <article class="col-12 col-sm-6 col-lg-4 me-2">
                <div class="col-12 mb-4">
                  <div class="card card-full hover-a">
                    <div class="ratio_327-278 image-wrapper">
                      <!-- thumbnail -->
                      <a href="/@CurrentLanguage/article/@(block6.LatynUrl).html">
                        <img class="img-fluid lazy news-block6-img" src="@GetUrl(block6?.ThumbnailUrl.Replace("_big.", "_middle."))"
                             data-src="@GetUrl(block6?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block6?.Title">
                      </a>
                      <div class="position-absolute p-3 b-0 w-100 bg-shadow">
                        <!-- post title -->
                        <h4 class="h3 h4-sm h3-md card-title">
                          <a class="text-white news-title" href="/@CurrentLanguage/article/@(block6.LatynUrl).html">@block6?.Title</a>
                        </h4>
                        <!-- date -->
                        <div class="small text-light">
                          <time datetime="2019-10-18">@UnixTimeHelper.UnixTimeToLocalString(block6.AddTime,CurrentLanguage)</time>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            }
           
          </div>
          <!--end block content-->
        </div>
        <!-- End block -->
      </div>
    }
    @if (block7ArticleList.Count > 0)
    {
      <div class="col-12 mb-5">
        <div class="col-12 pb-3 px-4 " style="background-color: #ea3323">
          <div class="row">
            <!-- PLAYLIST TITLE -->
            <div class="col-12">
              <div class="my-3">
                <a href="@block7Url">
                   <h4 class="text-white">@block7Title</h4>
                </a>
               
              </div>
            </div>
           @{
               var fullDescription = block7ArticleList[0]?.FullDescription ?? "";
               var iframePattern = @"<iframe[^>]+src=\""([^\""]+)\"".*?>";
               var iframeMatch = System.Text.RegularExpressions.Regex.Match(fullDescription, iframePattern, System.Text.RegularExpressions.RegexOptions.IgnoreCase);
               string iframeSrc = iframeMatch.Success ? iframeMatch.Groups[1].Value : null;
           }
           
           <div class="col-md-7 video-full pb-3">
             @if (!string.IsNullOrEmpty(iframeSrc))
             {
               <iframe id="vid_frame" width="560" height="315" src="@iframeSrc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
             }
           </div>
           
           <div class="col-md-5">
             <ol class="playlist-title list-unstyled">
               @{
                 if (block7ArticleList != null && block7ArticleList.Count > 0)
                 {
                   for (int i = 1; i < block7ArticleList.Count; i++)
                   {
                     var fullDescriptionlist = block7ArticleList[i]?.FullDescription ?? "";
                     var iframePatternlist = @"<iframe[^>]+src=\""([^\""]+)\"".*?>";
                     var iframeMatchlist = System.Text.RegularExpressions.Regex.Match(fullDescriptionlist, iframePatternlist, System.Text.RegularExpressions.RegexOptions.IgnoreCase);
                     string iframeSrclist = iframeMatchlist.Success ? iframeMatchlist.Groups[1].Value : null;
                     
                     @if (!string.IsNullOrEmpty(iframeSrclist))
                     {
                       <li class="active">
                         <a href="#" onClick="document.getElementById('vid_frame').src='@iframeSrclist'; return false;">
                           <span class="video-thumb">
                            <img width="72" src="@(!string.IsNullOrEmpty(block7ArticleList[i]?.ThumbnailUrl) ? GetUrl(block7ArticleList[i]?.ThumbnailUrl.Replace("_big.", "_middle.")) : "/images/no_image.png")" alt="@block7ArticleList[i]?.Title">
                           </span>
                           <div class="video-title news-title">@block7ArticleList[i]?.Title</div>
                         </a>
                       </li>
                     }
                   }
                 }
               }
             </ol>
           </div>
            
          </div>
        </div>
      </div>
    }
    
    @if (block8ArticleList.Count > 0)
    {
   
      <div class="col-md-8">
        <!-- block start -->
        <div class="block-area">
          <!-- block title -->
          <div class="block-title-13">
            <h4 class="h5 title-box-dot">
              <a href="@block8Url">
                <span>@block8Title</span>
              </a>
              
            </h4>
            <div class="dot-line"></div>
          </div>
          <div class="gap-0"></div>
          <div class="border-bottom-last-0 first-pt-0">
            @foreach (var block8 in block8ArticleList.Take(4))
            {
              <article class="card card-full hover-a py-4">
                <div class="row">
                  <div class="col-sm-6 col-md-12 col-lg-6">
                    <!--thumbnail-->
                    <div class="ratio_360-202 image-wrapper">
                      <a href="@CurrentLanguage/article/@(block8.LatynUrl).html">
                        <img class="img-fluid lazy entered loaded" src="@GetUrl(block8?.ThumbnailUrl.Replace("_big.", "_middle."))" data-src="@GetUrl(block8?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block8?.Title" data-ll-status="loaded">
                        <!-- play button -->
                        <div class="post-type-icon hover-hide">
                          <span class="fa-stack-sea text-primary">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-play-fill" viewBox="0 0 16 16">
                              <path d="M11.596 8.697l-6.363 3.692c-.54.313-1.233-.066-1.233-.697V4.308c0-.63.692-1.01 1.233-.696l6.363 3.692a.802.802 0 0 1 0 1.393z"></path>
                            </svg>
                          </span>
                        </div>
                      </a>
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-12 col-lg-6">
                    <div class="card-body pt-3 pt-sm-0 pt-md-3 pt-lg-0">
                      <h3 class="card-title h2 h3-sm h2-md">
                        <a href="@CurrentLanguage/article/@(block8.LatynUrl).html">@block8?.Title</a>
                      </h3>
                      <div class="card-text mb-2 text-muted small">
                        <time datetime="2019-10-21">Oct 21, 2019</time>
                      </div>
                      <p class="card-text">@block8?.ShortDescription</p>
                    </div>
                  </div>
                </div>
              </article>
            }
          </div>
        </div>
        <div class="suggestion-box bg-themes">
          <h4 class="text-center">@T("ls_SocialLinks")</h4>
          <div id="close-suggestion" class="close-suggestion">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
              <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"></path>
            </svg>
          </div>
                        
          <div class="card card-full u-hover hover-a mb-2">
            <ul class="list-unstyled social-two">
              <li class="facebook py-1"><a class="bg-facebook text-white"  href="@SiteSetting?.Facebook" target="_blank" rel="noopener noreferrer"
                                           aria-label="facebook">Facebook</a></li>
              <li class="telegram py-1"><a class="bg-telegram text-white" href="@SiteSetting?.Telegram" target="_blank" rel="noopener noreferrer"
                                           aria-label="Telegram">Telegram</a></li>
              <li class="instagram py-1"><a class="bg-instagram text-white" href="@SiteSetting?.Instagram" target="_blank"
                                            rel="noopener noreferrer" aria-label="instagram">Instagram</a></li>
              <li class="youtube py-1"><a class="bg-youtube text-white" href="@SiteSetting?.Youtube" target="_blank" rel="noopener noreferrer"
                                          aria-label="youtube">Youtube</a></li>
              <li class="twitter py-1"><a class="bg-twitter text-white" href="@SiteSetting?.Twitter" target="_blank" rel="noopener noreferrer" aria-label="twitter">Twitter</a></li>
              <li class="whatsapp py-1">
                <a class="bg-whatsapp text-white " href="@SiteSetting?.Whatsapp" target="_blank" rel="noopener noreferrer" aria-label="whatsapp">Whatsapp</a>
              </li>
            </ul>
                          
          </div>
        </div>
        
      </div>
    }
    <aside class="col-md-4 end-sidebar-lg">
      <img class="w-100" src="@GetUrl("/images/no_image.png")" alt="">
    </aside>
     

    </div>
   </div>
</main>
<a class="back-top btn btn-light border position-fixed r-1 b-1 backtop-is-visible backtop-fade-out" href="#">
    <svg class="bi bi-arrow-up" width="1rem" height="1rem" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M8 3.5a.5.5 0 01.5.5v9a.5.5 0 01-1 0V4a.5.5 0 01.5-.5z" clip-rule="evenodd"></path>
      <path fill-rule="evenodd" d="M7.646 2.646a.5.5 0 01.708 0l3 3a.5.5 0 01-.708.708L8 3.707 5.354 6.354a.5.5 0 11-.708-.708l3-3z" clip-rule="evenodd"></path>
    </svg>
  </a>
<!--End Content-->
