@{
  Layout = $"~/Views/Themes/{CurrentTheme}/_HomeLayout.cshtml";
  var latestArticleList = QarList<Article>("latestArticleList");
  var regions = QarList<Articlecategory>("block6title");
  var menuList = QarList<Articlecategory>("menuList");
  var pinnedArticle = QarModel<Article>("pinnedArticle");
  var focusArticleList = QarList<Article>("focusArticleList");
  var block1Title = (ViewData["block1Title"] ?? string.Empty) as string;
  var block1ParentTitle = (ViewData["block1ParentTitle"] ?? string.Empty) as string;
  var block1Url = (ViewData["block1Url"] ?? string.Empty) as string;
  var block1ArticleList = QarList<Article>("block1ArticleList");
  var block1ArticleAllList = QarList<Article>("block1ArticleAllList");
  var block2Title = (ViewData["block2Title"] ?? string.Empty) as string;
  var block2ParentTitle = (ViewData["block2ParentTitle"] ?? string.Empty) as string;
  var block2Url = (ViewData["block2Url"] ?? string.Empty) as string;
  var block2ArticleList = QarList<Article>("block2ArticleList");
  var block2ArticleAllList = QarList<Article>("block2ArticleAllList");
  var block3ParentTitle = (ViewData["block3ParentTitle"] ?? string.Empty) as string;
  var block3Title = (ViewData["block3Title"] ?? string.Empty) as string;
  var block3Url = (ViewData["block3Url"] ?? string.Empty) as string;
  var block3ArticleList = QarList<Article>("block3ArticleList");
  var block3ArticleAllList = QarList<Article>("block3ArticleAllList");
  var block4ParentTitle = (ViewData["block4ParentTitle"] ?? string.Empty) as string;
  var block4Title = (ViewData["block4Title"] ?? string.Empty) as string;
  var block4Url = (ViewData["block4Url"] ?? string.Empty) as string;
  var block4ArticleList = QarList<Article>("block4ArticleList");
  var block4ArticleAllList = QarList<Article>("block4ArticleAllList");
  var block5ParentTitle = (ViewData["block5ParentTitle"] ?? string.Empty) as string;
  var block5Title = (ViewData["block5Title"] ?? string.Empty) as string;
  var block5Url = (ViewData["block5Url"] ?? string.Empty) as string;
  var block5ArticleList = QarList<Article>("block5ArticleList");
  var block5ArticleAllList = QarList<Article>("block5ArticleAllList");
  var block6ParentTitle = (ViewData["block6ParentTitle"] ?? string.Empty) as string;
  var block6Title = (ViewData["block6Title"] ?? string.Empty) as string;
  var block6Url = (ViewData["block6Url"] ?? string.Empty) as string;
  var block6ArticleList = QarList<Article>("block6ArticleList");
  var block6ArticleAllList = QarList<Article>("block6ArticleAllList");
  var block7ParentTitle = (ViewData["block7ParentTitle"] ?? string.Empty) as string;
  var block7Title = (ViewData["block7Title"] ?? string.Empty) as string;
  var block7Url = (ViewData["block7Url"] ?? string.Empty) as string;
  var block7ArticleList = QarList<Article>("block7ArticleList");
  var block7ArticleAllList = QarList<Article>("block7ArticleAllList");
  var block8ParentTitle = (ViewData["block8ParentTitle"] ?? string.Empty) as string;
  var block8Title = (ViewData["block8Title"] ?? string.Empty) as string;
  var block8Url = (ViewData["block8Url"] ?? string.Empty) as string;
  var block8ArticleList = QarList<Article>("block8ArticleList");
  var block8ArticleAllList = QarList<Article>("block8ArticleAllList");
}

<!--Content start-->
<main id="content">
  <div class="container">
    <div class="row">
      <!-- top section -->
      <div class="col-12 mt-05">
        <!--focusarticle-->
        @if (focusArticleList != null && focusArticleList.Count > 0)
        {
          <div class="row py-2">
            <!--Breaking box-->
            <div class="col-2 col-sm-1 col-md-3 col-lg-2 py-1 pe-md-0 mb-md-1">
              <div class="d-inline-block d-md-block bg-primary text-white text-center breaking-caret py-1 px-2">
                <svg xmlns="http://www.w3.org/2000/svg" width="1rem" height="1rem" fill="currentColor"
                     class="bi bi-lightning-fill" viewBox="0 0 16 16">
                  <path
                    d="M11.251.068a.5.5 0 0 1 .227.58L9.677 6.5H13a.5.5 0 0 1 .364.843l-8 8.5a.5.5 0 0 1-.842-.49L6.323 9.5H3a.5.5 0 0 1-.364-.843l8-8.5a.5.5 0 0 1 .615-.09z"/>
                </svg>
                <span class="d-none d-md-inline-block">@T("ls_Focusnews")</span>
              </div>
            </div>

            <!--Breaking content-->
            <div class="col-10 col-sm-11 col-md-9 col-lg-10 ps-1 ps-md-2">
              <div class="breaking-box position-relative py-2">
                <div class="box-carousel"
                     data-flickity='{ "cellAlign": "left", "wrapAround": true, "adaptiveHeight": true, "prevNextButtons": true , "autoPlay": 5000, "pageDots": false, "imagesLoaded": true }'>
                  <!--list post-->
                  @foreach (var focus in focusArticleList.Take(3))
                  {
                    <div class="col-12 aribudin">
                      <a class="h6 fw-normal" href="/@CurrentLanguage/article/@(focus?.LatynUrl).html">@focus?.Title</a>
                    </div>
                  }

                </div><!--end breaking news-->
              </div>
            </div>
          </div>
        }
        <!--last news-->
        @if (focusArticleList.Count > 0)
        {
           <div class="row featured-1 mb-5">
          <!--Start left cover-->
          <div class="col-md-6 pb-05 pt-05 pe-md-05">
            <div class="position-relative overflow-hidden">
              <div class="nav-slider-hover nav-dots-top-right light-dots"
                data-flickity='{ "cellAlign": "left", "wrapAround": true, "adaptiveHeight": true, "prevNextButtons": true , "pageDots": true, "imagesLoaded": true }'>
                <!--Item slider-->
                @for (int i = 0; i < focusArticleList.Count && i<3; i++)
                {
                   <article class="col-12">
                                    <div class="card card-full text-light overflow zoom">
                                      <!--thumbnail-->
                                      <div class="height-ratio image-wrapper">
                                        <a href="/@CurrentLanguage/article/@(focusArticleList[i].LatynUrl).html">
                                          <img class="img-fluid lazy last-img-height" src="@GetUrl(focusArticleList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                                            data-src="@GetUrl(focusArticleList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@focusArticleList[i]?.Title">
                                        </a>
                                        <div class="position-absolute p-3 b-0 w-100 bg-lg-shadow">
                                          <!--title-->
                                          <a href="#">
                                            <h2
                                              class="h1-sm h2-md display-4-lg fw-bold text-capitalize heading-letter-spacing text-white">
                                              @focusArticleList[i]?.Title</h2>
                                          </a>
                                          <!-- meta title -->
                                          <div class="news-meta">
                                            <time class="news-date" datetime="2019-10-22">@UnixTimeHelper.UnixTimeToLocalString(focusArticleList[i].AddTime,CurrentLanguage)</time>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </article>
                }
               
              </div>
            </div>
          </div>
         
          <div class="col-md-6 pt-05 ps-md-05">
            @if (focusArticleList.Count > 1)
            {
              <div class="row newsbox">
                @for (int j = 3; j < 7 && j < focusArticleList.Count; j++)
                {
                  <article class="col-6">
                    <div class="card card-full text-white overflow zoom">
                      <div class="height-ratio image-wrapper">
                        <!--thumbnail-->
                        <a href="/@CurrentLanguage/article/@(focusArticleList[j].LatynUrl).html">
                          <img class="img-fluid lazy last-left-img-height" src="@GetUrl(focusArticleList[j]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                               data-src="@GetUrl(focusArticleList[j]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@focusArticleList[j]?.Title">
                        </a>
                        <!-- category & title -->
                        <div class="position-absolute px-3 pb-3 pt-0 b-0 w-100 bg-shadow">
                          @foreach (var menu in menuList)
                          {
                            if (focusArticleList[j].CategoryId == menu.Id)
                            {
                              <a class="p-1 badge bg-primary text-white" href="/@CurrentLanguage/category/@(menu.LatynUrl).html">@menu?.Title</a>
                            }
                          }
                          <a href="#">
                            <h2 class="h6 h4-sm h6-md h5-lg text-white my-1 news-title">@focusArticleList[j]?.Title
                            </h2>
                          </a>
                        </div>
                      </div>
                    </div>
                  </article>
                }


              </div>
            }
          
          </div>
          <!--End box news-->
        </div>
        }
       
       
      </div>

    <!--block1ArticleList-->
   
       <div class="col-md-8">
       <!-- Block start -->
        @if (block1ArticleAllList.Count > 0 && block1ArticleAllList != null)
           {
        <div class="block-area">
          <!--block title-->
          <div class="block-title-6">
            <h4 class="h5 border-primary">
              <span class="bg-primary text-white">@block1ParentTitle</span>
            </h4>
          </div>
          <!--block content-->
          <div class="row">
           
            <div class="col-lg-6">
              <article class="card card-full hover-a mb-4">
                <!--thumbnail-->
                <div class="ratio_360-202 image-wrapper">
                  <a href="/@CurrentLanguage/article/@(block1ArticleAllList[0].LatynUrl).html">
                    <img class="img-fluid lazy" src="@GetUrl(block1ArticleAllList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                      data-src="@GetUrl(block1ArticleAllList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block1ArticleAllList[0]?.Title">
                  </a>
                </div>
                <div class="card-body">
                  <!-- title -->
                  <h2 class="card-title h1-sm h3-lg">
                    <a href="/@CurrentLanguage/article/@(block1ArticleAllList[0].LatynUrl).html" class="">@block1ArticleAllList[0]?.Title</a>
                  </h2>
                  <!-- author, date and comments -->
                  <div class="card-text mb-2 text-muted small">
                    <time datetime="2019-10-22">@UnixTimeHelper.UnixTimeToLocalString(block1ArticleAllList[0].AddTime,
                                                                                                                    CurrentLanguage)</time>
                  </div>
                  <!--description-->
                  <p class="card-text">@block1ArticleAllList[0]?.ShortDescription</p>
                </div>
              </article>
            </div>
            <!--end post left-->
            <!--post right list start-->
            <div class="col-lg-6">
              <!--right list-->
               @if (block1ArticleAllList.Count > 1)
               {
                 for (int i = 1; i < block1ArticleAllList.Count && i <= 4; i++)
                 {
                   <article class="card card-full hover-a mb-4">
                     <div class="row">
                       <!--thumbnail-->
                       <div class="col-3 col-md-4 pe-2 pe-md-0">
                         <div class="ratio_115-80 image-wrapper">
                           <a href="/@CurrentLanguage/article/@(block1ArticleAllList[i].LatynUrl).html">
                             <img class="img-fluid lazy news-block1-left-img" src="@GetUrl(block1ArticleAllList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                                  data-src="@GetUrl(block1ArticleAllList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block1ArticleAllList[i]?.Title">
                           </a>
                         </div>
                       </div>
                       <!-- title & date -->
                       <div class="col-9 col-md-8">
                         <div class="card-body pt-0">
                           <h3 class="card-title h6 h5-sm h6-lg">
                             <a href="/@CurrentLanguage/article/@(block1ArticleAllList[i].LatynUrl).html" class="news-title">@block1ArticleAllList[i]?.Title</a>
                           </h3>
                           <div class="card-text small text-muted">
                             <time datetime="2019-10-22">@UnixTimeHelper.UnixTimeToLocalString(block1ArticleAllList[i].AddTime,CurrentLanguage)</time>
                           </div>
                         </div>
                       </div>
                     </div>
                   </article>
                 }
               }
                                   
             
            </div>
          </div>
        </div>
}
        <!--block2ArticleList-->
        <div class="block-area">
          <div class="row">
            <!--left post-->
            @if (block2ArticleAllList.Count > 0)
            {
                <div class="col-lg-6">
              <!--block title-->
              <div class="block-title-6">
                <h4 class="h5 border-primary">
                  <span class="bg-primary text-white">@block2ParentTitle</span>
                </h4>
              </div>
              
              <div class="big-post">
                <article class="card card-full hover-a mb-4">
                  <!--thumbnail-->
                  <div class="ratio_360-202 image-wrapper">
                    <a href="/@CurrentLanguage/article/@(block2ArticleAllList[0].LatynUrl).html">
                      <img class="img-fluid lazy " src="@GetUrl(block2ArticleAllList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                        data-src="@GetUrl(block2ArticleAllList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block2ArticleAllList[0]?.Title">
                    </a>
                  </div>
                  <div class="card-body">
                    <!--title-->
                    <h2 class="card-title h1-sm h3-lg">
                      <a href="/@CurrentLanguage/article/@(block2ArticleAllList[0].LatynUrl).html">@block2ArticleAllList[0]?.Title</a>
                    </h2>
                    <!-- author, date & comments -->
                    <div class="card-text mb-2 text-muted small">
                      
                      <time datetime="2019-10-22">@UnixTimeHelper.UnixTimeToLocalString(block2ArticleAllList[0].AddTime,CurrentLanguage)</time>
                    </div>
                    <!--description-->
                    <p class="card-text">@block2ArticleAllList[0]?.ShortDescription</p>
                  </div>
                </article>
              </div>
              <div class="small-post">
                <!--post list-->
                @if (block2ArticleAllList.Count > 1)
                {
                  for (int i = 1; i < block2ArticleAllList.Count && i <= 4; i++)
                  {
                    <article class="card card-full hover-a mb-4">
                      <div class="row">
                        <!--thumbnail-->
                        <div class="col-3 col-md-4 pe-2 pe-md-0">
                          <div class="ratio_115-80 image-wrapper">
                            <a href="/@CurrentLanguage/article/@(block2ArticleAllList[i].LatynUrl).htm">
                              <img class="img-fluid lazy news-block1-left-img" src="@GetUrl(block2ArticleAllList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                                   data-src="@GetUrl(block2ArticleAllList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block2ArticleAllList[i]?.Title">
                            </a>
                          </div>
                        </div>
                        <!-- title & date -->
                        <div class="col-9 col-md-8">
                          <div class="card-body pt-0">
                            <h3 class="card-title h6 h5-sm h6-lg">
                              <a href="/@CurrentLanguage/article/@(block2ArticleAllList[i].LatynUrl).htm" class="news-title">@block2ArticleAllList[i]?.Title</a>
                            </h3>
                            <div class="card-text small text-muted">
                              <time datetime="2019-10-16">@UnixTimeHelper.UnixTimeToLocalString(block2ArticleAllList[i].AddTime,CurrentLanguage)</time>
                            </div>
                          </div>
                        </div>
                      </div>
                    </article>
                  }
                }
                                
              </div>
              <!--end post small-->
            </div>
            }
          
            <!--end left post-->

            <!--block4ArticleList-->
            @if (block4ArticleAllList.Count > 0)
            {
                <div class="col-lg-6">
              <!--block title-->
              <div class="block-title-6">
                <h4 class="h5 border-primary">
                  <span class="bg-primary text-white">@block4ParentTitle</span>
                </h4>
              </div>
              <div class="big-post">
                <article class="card card-full hover-a mb-4">
                  <!--thumbnail-->
                  <div class="ratio_360-202 image-wrapper">
                    <a href="/@CurrentLanguage/article/@(block4ArticleAllList[0].LatynUrl).html">
                      <img class="img-fluid lazy" src="@GetUrl(block4ArticleAllList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                        data-src="@GetUrl(block4ArticleAllList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block4ArticleAllList[0]?.Title">
                    </a>
                  </div>
                  <div class="card-body">
                    <h2 class="card-title h1-sm h3-lg">
                      <a href="/@CurrentLanguage/article/@(block4ArticleAllList[0].LatynUrl).html">@block4ArticleAllList[0]?.Title</a>
                    </h2>
                    <div class="card-text mb-2 text-muted small">
                      <time datetime="2019-10-22">@UnixTimeHelper.UnixTimeToLocalString(block4ArticleAllList[0].AddTime,CurrentLanguage)</time>
                    </div>
                    <p class="card-text">@block4ArticleAllList[0]?.ShortDescription</p>
                  </div>
                </article>
              </div>
              <div class="small-post">
                 @if (block4ArticleAllList.Count > 1)
                 {
                   for (int i = 1; i < block4ArticleAllList.Count && i <= 4; i++)
                   {
                     <article class="card card-full hover-a mb-4">
                       <div class="row">
                         <!--thumbnail-->
                         <div class="col-3 col-md-4 pe-2 pe-md-0">
                           <div class="ratio_115-80 image-wrapper">
                             <a href="/@CurrentLanguage/article/@(block4ArticleAllList[i].LatynUrl).html">
                               <img class="img-fluid lazy news-block1-left-img" src="@GetUrl(block4ArticleAllList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                                    data-src="@GetUrl(block4ArticleAllList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block4ArticleAllList[i]?.Title">
                             </a>
                           </div>
                         </div>
                         <!-- title & date -->
                         <div class="col-9 col-md-8">
                           <div class="card-body pt-0">
                             <h3 class="card-title h6 h5-sm h6-lg">
                               <a href="/@CurrentLanguage/article/@(block4ArticleAllList[i].LatynUrl).html" class="news-title">@block4ArticleAllList[i]?.Title</a>
                             </h3>
                             <div class="card-text small text-muted">
                               <time datetime="2019-10-09">@UnixTimeHelper.UnixTimeToLocalString(block4ArticleAllList[i].AddTime,CurrentLanguage)</time>
                             </div>
                           </div>
                         </div>
                       </div>
                     </article>
                   }
                 }
                                
              </div>
            </div>
            }
          </div>
        </div>
       <!--block5ArticleList-->
       @if (block5ArticleAllList.Count > 0)
       {
      <div class="block-area">
          <!-- block title -->
          <div class="block-title-6">
            <h4 class="h5 border-primary">
              <span class="bg-primary text-white">@block5ParentTitle</span>
            </h4>
          </div>
          <!--big post start-->
          <div class="big-post">
            <article class="card card-full hover-a mb-4">
              <div class="row">
                <div class="col-lg-6">
                  <!-- thumbnail -->
                  <div class="ratio_360-202 image-wrapper">
                    <a href="/@CurrentLanguage/article/@(block5ArticleAllList[0].LatynUrl).html">
                      <img class="img-fluid lazy" src="@GetUrl(block5ArticleAllList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                        data-src="@GetUrl(block5ArticleAllList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block5ArticleAllList[0]?.Title">
                    </a>
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="card-body pt-3 pt-lg-0">
                    <!--title-->
                    <h2 class="card-title h1-sm h3-lg">
                      <a href="/@CurrentLanguage/article/@(block5ArticleAllList[0].LatynUrl).html">@block5ArticleAllList[0]?.Title</a>
                    </h2>
                    <!-- author, date and comments -->
                    <div class="card-text mb-2 text-muted small">
                      <time datetime="2019-10-21">@UnixTimeHelper.UnixTimeToLocalString(block5ArticleAllList[0].AddTime,CurrentLanguage)</time>
                    </div>
                    <!--description-->
                    <p class="card-text">@block5ArticleAllList[0]?.ShortDescription</p>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <div class="row small-post">
              @if (block5ArticleAllList.Count > 1)
              {
                for (int i = 1; i < block5ArticleAllList.Count && i <= 4; i++)
                {
                  <article class="col-lg-6">
                    <div class="card card-full hover-a mb-4">
                      <div class="row">
                        <!--thumbnail-->
                        <div class="col-3 col-md-4 pe-2 pe-md-0">
                          <div class="ratio_115-80 image-wrapper">
                            <a href="/@CurrentLanguage/article/@(block5ArticleAllList[i].LatynUrl).html">
                              <img class="img-fluid lazy news-block1-left-img" src="@GetUrl(block5ArticleAllList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                                   data-src="@GetUrl(block5ArticleAllList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block5ArticleAllList[i]?.Title">
                            </a>
                          </div>
                        </div>
                        <!-- title & date -->
                        <div class="col-9 col-md-8">
                          <div class="card-body pt-0">
                            <h3 class="card-title h6 h5-sm h6-lg">
                              <a href="/@CurrentLanguage/article/@(block5ArticleAllList[i].LatynUrl).html" class="news-title">@block5ArticleAllList[i]?.Title</a>
                            </h3>
                            <div class="card-text small text-muted">
                              <time datetime="2019-10-19">@UnixTimeHelper.UnixTimeToLocalString(block5ArticleAllList[i].AddTime,CurrentLanguage)</time>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </article>
                }
              }
                              
          </div>
        </div>
         
       }
       <!--block3ArticleList-->
       @if (block3ArticleAllList.Count > 0)
       {
           <div class="block-area">
          <div class="block-title-6">
            <h4 class="h5 border-primary">
              <span class="bg-primary text-white">@block3ParentTitle</span>
            </h4>
          </div>
             <div class="row">
               @foreach (var trvel in block3ArticleAllList)
               {
                 <article class="col-sm-6 col-md-12 col-lg-6">
                   <div class="card card-full hover-a mb-4">
                     <!--thumbnail-->
                     <div class="ratio_360-202 image-wrapper">
                       <a href="/@CurrentLanguage/article/@(trvel.LatynUrl).html">
                         <img class="img-fluid lazy" src="@GetUrl(trvel?.ThumbnailUrl.Replace("_big.", "_middle."))"
                              data-src="@GetUrl(trvel?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@trvel?.Title">
                       </a>
                     </div>
                     <a class="bg-full-shadow" aria-label="overlay article" href="#"></a>
                     <div class="position-absolute px-3 top-3 w-100 z-index-5 text-center">
                       <!--title-->
                       <a href="/@CurrentLanguage/article/@(trvel.LatynUrl).html">
                         <h5 class="card-title h3 h4-sm h3-md text-white my-1 news-title">@trvel?.Title</h5>
                       </a>
                       <time class="d-sm-none d-md-inline m-0 text-white" datetime="2019-10-21">@UnixTimeHelper.UnixTimeToLocalString(trvel.AddTime,CurrentLanguage)</time>
                     </div>
                   </div>
                 </article>
               }
              
               <div class="gap-05"></div>
             </div>
          <!-- end block content -->
        </div>
       }
      </div>
  
     
      <!--end left column-->

      <!--start right column-->
      <aside class="col-md-4 end-sidebar-lg">
        <div class="sticky">
          <!--Social network 2-->
          <aside class="widget">
            <!-- widget title -->
            <div class="block-title-4">
              <h4 class="h5 title-arrow">
                <span>@T("ls_SocialLinks")</span>
              </h4>
            </div>
            <!-- widget content -->
            <ul class="list-unstyled social-two">
              <li class="facebook"><a class="bg-facebook text-white"  href="@SiteSetting?.Facebook" target="_blank" rel="noopener noreferrer"
                  aria-label="facebook">Facebook</a></li>
              <li class="telegram"><a class="bg-telegram text-white" href="@SiteSetting?.Telegram" target="_blank" rel="noopener noreferrer"
                               aria-label="Telegram">Telegram</a></li>
              <li class="instagram"><a class="bg-instagram text-white" href="@SiteSetting?.Instagram" target="_blank"
                  rel="noopener noreferrer" aria-label="instagram">Instagram</a></li>
              <li class="youtube"><a class="bg-youtube text-white" href="@SiteSetting?.Youtube" target="_blank" rel="noopener noreferrer"
                  aria-label="youtube">Youtube</a></li>
            </ul>
            <!-- end widget content -->
            <div class="gap-15"></div>
          </aside>

          <!-- post with number -->
          <aside class="widget">
            <img src="@GetUrl("/images/no_image.png")" alt="" class="w-100">
            <div class="gap-0"></div>
          </aside>
          <!-- end post with number -->

          <!-- latest news -->
          @if (latestArticleList.Count > 0)
          {
              <aside class="widget">
            <!--Block title-->
            <div class="block-title-4">
              <h4 class="h5 title-arrow">
                <span>@T("ls_Latestnews")</span>
              </h4>
            </div>
            <!--post big start-->
            <div class="big-post">
              <article class="card card-full hover-a mb-4">
                <!--thumbnail-->
                <div class="ratio_360-202 image-wrapper">
                  <a href="/@CurrentLanguage/article/@(latestArticleList[0].LatynUrl).html">
                    <img class="img-fluid lazy" src="@GetUrl(latestArticleList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                      data-src="@GetUrl(latestArticleList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@latestArticleList[0]?.Title">
                  </a>
                </div>
                <div class="card-body">
                  <!--title-->
                  <h2 class="card-title h1-sm h3-md">
                    <a href="/@CurrentLanguage/article/@(latestArticleList[0].LatynUrl).html">@latestArticleList[0]?.Title</a>
                  </h2>
                  <!-- author & date -->
                  <div class="card-text mb-2 text-muted small">
                    <time datetime="2019-10-22">@UnixTimeHelper.UnixTimeToLocalString(latestArticleList[0].AddTime,CurrentLanguage)</time>
                  </div>
                  <!--description-->
                  <p class="card-text">@latestArticleList[0]?.ShortDescription</p>
                </div>
              </article>
            </div>
            <!--end post big-->
            <!--post small start-->
            <div class="small-post">
               @if (latestArticleList.Count > 1)
               {
                 for (int i = 1; i < 4 && i < latestArticleList.Count; i++)
                 {
                   <article class="card card-full hover-a mb-4">
                     <div class="row">
                       <!--thumbnail-->
                       <div class="col-3 col-md-4 pe-2 pe-md-0">
                         <div class="ratio_110-77 image-wrapper">
                           <a href="/@CurrentLanguage/article/@(latestArticleList[i].LatynUrl).html">
                             <img class="img-fluid lazy" src="@GetUrl(latestArticleList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))"
                                  data-src="@GetUrl(latestArticleList[i]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@latestArticleList[i]?.Title">
                           </a>
                         </div>
                       </div>
                       <!-- title & date -->
                       <div class="col-9 col-md-8">
                         <div class="card-body pt-0">
                           <h3 class="card-title h6 h5-sm h6-md">
                             <a href="/@CurrentLanguage/article/@(latestArticleList[i].LatynUrl).html" class="news-title">@latestArticleList[i]?.Title</a>
                           </h3>
                           <div class="card-text small text-muted">
                             <time datetime="2019-10-16">@UnixTimeHelper.UnixTimeToLocalString(latestArticleList[i].AddTime,CurrentLanguage)</time>
                           </div>
                         </div>
                       </div>
                     </div>
                   </article>
                 }
               }
             
              
            </div>
            <!--end post small-->
            <div class="gap-0"></div>
          </aside>
          }
        
          <!-- end latest post -->

          <!--Advertiser-->
          <aside class="widget">
            <div class="hover-a text-center">
              <!--title-->
              <div class="py-2">
                <span class="text-mute small">- Advertisement -</span>
              </div>
              <!--content-->
              <a href="#">
                <img class="img-fluid bg-light" src="/themes/alemnews/img/ads/300-demo.png" alt="ads space">
              </a>
            </div>
            <div class="gap-15"></div>
          </aside>
          <!--end advertiser-->
        </div>
      </aside>
      <!--end right column-->

    <!-- block6ArticleList -->
    @if (block6ArticleAllList.Count > 0)
    {
        <div class="col-12 mb-4">
        <!-- Block start -->
        <div class="block-area p-4 border bg-light-black">
         <div class="row py-2">
                     <!--Breaking box-->
                     <div class="col-2 col-sm-1 col-md-3 col-lg-2 py-1 pe-md-0 mb-md-1">
                       <div class="d-inline-block d-md-block bg-primary text-white text-center breaking-caret py-1 px-2">
                         <span class="d-none d-md-inline-block">@block6ParentTitle</span>
                       </div>
                     </div>
         
                     <!--Breaking content-->
                     <div class="col-10 col-sm-11 col-md-9 col-lg-10 ps-1 ps-md-2">
                       <div class="breaking-box position-relative py-2">
                         <div class="box-carousel"
                              data-flickity='{ "cellAlign": "left", "wrapAround": true, "adaptiveHeight": true, "prevNextButtons": true , "autoPlay": 5000, "pageDots": false, "imagesLoaded": true }'>
                           <!--list post-->
                           @foreach (var region in regions)
                           {
                             <div class="col-12 aribudin">
                               <a class="h6 fw-normal" href="/@CurrentLanguage/article/@(region?.LatynUrl).html">@region?.Title</a>
                             </div>
                           }
         
                         </div>
                       </div>
                     </div>
                   </div>
          <div class="nav-slider-hover nav-dots-top-right light-dots"
            data-flickity='{ "cellAlign": "left", "wrapAround": true, "adaptiveHeight": true, "prevNextButtons": true , "pageDots": true, "imagesLoaded": true }'>
            @foreach (var block6 in block6ArticleAllList.Take(5))
            {
              <article class="col-12 col-sm-6 col-lg-4 me-2">
                <div class="col-12 mb-4">
                  <div class="card card-full hover-a">
                    <div class="ratio_327-278 image-wrapper">
                      <!-- thumbnail -->
                      <a href="/@CurrentLanguage/article/@(block6.LatynUrl).html">
                        <img class="img-fluid lazy news-block6-img" src="@GetUrl(block6?.ThumbnailUrl.Replace("_big.", "_middle."))"
                             data-src="@GetUrl(block6?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block6?.Title">
                      </a>
                      <div class="position-absolute p-3 b-0 w-100 bg-shadow">
                        <!-- post title -->
                        <h4 class="h3 h4-sm h3-md card-title">
                          <a class="text-white news-title" href="/@CurrentLanguage/article/@(block6.LatynUrl).html">@block6?.Title</a>
                        </h4>
                        <!-- date -->
                        <div class="small text-light">
                          <time datetime="2019-10-18">@UnixTimeHelper.UnixTimeToLocalString(block6.AddTime,CurrentLanguage)</time>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
            }
           
          </div>
          <!--end block content-->
        </div>
        <!-- End block -->
      </div>
    }
    @if (block7ArticleList.Count > 0)
    {
      <div class="col-12 mb-5">
        <div class="col-12 pb-3 px-4 bg-dark">
          <div class="row">
            <!-- PLAYLIST TITLE -->
            <div class="col-12">
              <div class="my-3">
                <h4 class="text-white">@block7Title</h4>
              </div>
            </div>
            <!-- THE YOUTUBE PLAYER -->
            <div class="col-md-8 video-full pb-3 " style="height: 401px">
              <a href="/@CurrentLanguage/article/@(block7ArticleList[0].LatynUrl).html" style="display: block">
                <img width="w-100" src="@GetUrl(block7ArticleList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block7ArticleList[0]?.Title"/>
              </a>
                      
            </div>
            <div class="col-md-4">
              <ol class="playlist-title list-unstyled">
                @if (block7ArticleList.Count > 0)
                {
                  for (int i = 1; i < block7ArticleList.Count; i++)
                  {
                    <li class="active">
                      <a href="/@CurrentLanguage/article/@(block7ArticleList[i].LatynUrl).html">
                        <span class="video-thumb"><img width="72" src="@GetUrl(block7ArticleList[0]?.ThumbnailUrl.Replace("_big.", "_middle."))" alt="@block7ArticleList[0]?.Title"></span>
                        <div class="video-title news-title">@block7ArticleList[0]?.Title</div>
                      </a>
                    </li>
                    
                  }
                  
                }
               
              </ol>
            </div>
          </div>
        </div>
      </div>
    }
      <div class="col-md-8">
        <!-- block start -->
        <div class="block-area">
          <!-- block title -->
          <div class="block-title-6">
            <h4 class="h5 border-primary">
              <span class="bg-primary text-white">Latest post</span>
            </h4>
          </div>
          <!-- block content -->
          <div class="border-bottom-last-0 first-pt-0">
            <!--post start-->
            <article class="card card-full hover-a py-4">
              <div class="row">
                <div class="col-sm-6 col-md-12 col-lg-6">
                  <!--thumbnail-->
                  <div class="ratio_360-202 image-wrapper">
                    <a href="#">
                      <img class="img-fluid lazy" src="/themes/alemnews/img/assets/lazy-empty.png"
                        data-src="/themes/alemnews/img/360x202/img17.jpg" alt="Image description">
                    </a>
                  </div>
                </div>
                <div class="col-sm-6 col-md-12 col-lg-6">
                  <div class="card-body pt-3 pt-sm-0 pt-md-3 pt-lg-0">
                    <!--title-->
                    <h3 class="card-title h2 h3-sm h2-md">
                      <a href="#">Apple's stock rout starts and ends with the iPhone</a>
                    </h3>
                    <!--author and date-->
                    <div class="card-text mb-2 text-muted small">
                      <span class="d-none d-sm-inline me-1">
                        <a class="fw-bold" href="#">John Doe</a>
                      </span>
                      <time datetime="2019-10-21">Oct 21, 2019</time>
                    </div>
                    <!--description-->
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                      additional content. A small river flows by their place and ...</p>
                  </div>
                </div>
              </div>
            </article>
            <!--post start-->
            <article class="card card-full hover-a py-4">
              <div class="row">
                <div class="col-sm-6 col-md-12 col-lg-6">
                  <!--thumbnail-->
                  <div class="ratio_360-202 image-wrapper">
                    <a href="#">
                      <img class="img-fluid lazy" src="/themes/alemnews/img/assets/lazy-empty.png"
                        data-src="/themes/alemnews/img/360x202/img18.jpg" alt="Image description">
                    </a>
                  </div>
                </div>
                <div class="col-sm-6 col-md-12 col-lg-6">
                  <div class="card-body pt-3 pt-sm-0 pt-md-3 pt-lg-0">
                    <!--title-->
                    <h3 class="card-title h2 h3-sm h2-md">
                      <a href="#">Want the best Black Friday deals? Head to a department store</a>
                    </h3>
                    <!--author and date-->
                    <div class="card-text mb-2 text-muted small">
                      <span class="d-none d-sm-inline me-1">
                        <a class="fw-bold" href="#">John Doe</a>
                      </span>
                      <time datetime="2019-10-21">Oct 21, 2019</time>
                    </div>
                    <!--description-->
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                      additional content. A small river flows by their place and ...</p>
                  </div>
                </div>
              </div>
            </article>
            <!--post start-->
            <article class="card card-full hover-a py-4">
              <div class="row">
                <!--start thumbnail-->
                <div class="col-sm-6 col-md-12 col-lg-6">
                  <!--thumbnail-->
                  <div class="ratio_360-202 image-wrapper">
                    <a href="#">
                      <img class="img-fluid lazy" src="/themes/alemnews/img/assets/lazy-empty.png"
                        data-src="/themes/alemnews/img/360x202/img14.jpg" alt="Image description">
                    </a>
                  </div>
                </div>
                <div class="col-sm-6 col-md-12 col-lg-6">
                  <div class="card-body pt-3 pt-sm-0 pt-md-3 pt-lg-0">
                    <!--title-->
                    <h3 class="card-title h2 h3-sm h2-md">
                      <a href="#">5 Tips to Save Money Booking Your Next Hotel Room</a>
                    </h3>
                    <!--author and date-->
                    <div class="card-text mb-2 text-muted small">
                      <span class="d-none d-sm-inline me-1">
                        <a class="fw-bold" href="#">John Doe</a>
                      </span>
                      <time datetime="2019-10-21">Oct 21, 2019</time>
                    </div>
                    <!--description-->
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                      additional content. A small river flows by their place and ...</p>
                  </div>
                </div>
              </div>
            </article>
            <!--post start-->
            <article class="card card-full hover-a py-4">
              <div class="row">
                <div class="col-sm-6 col-md-12 col-lg-6">
                  <!--thumbnail-->
                  <div class="ratio_360-202 image-wrapper">
                    <a href="#">
                      <img class="img-fluid lazy" src="/themes/alemnews/img/assets/lazy-empty.png"
                        data-src="/themes/alemnews/img/360x202/img15.jpg" alt="Image description">
                    </a>
                  </div>
                </div>
                <div class="col-sm-6 col-md-12 col-lg-6">
                  <div class="card-body pt-3 pt-sm-0 pt-md-3 pt-lg-0">
                    <!--title-->
                    <h3 class="card-title h2 h3-sm h2-md">
                      <a href="#">Dubai launches pilot for Middle East 'Shark Tank'</a>
                    </h3>
                    <!--author and date-->
                    <div class="card-text mb-2 text-muted small">
                      <span class="d-none d-sm-inline me-1">
                        <a class="fw-bold" href="#">John Doe</a>
                      </span>
                      <time datetime="2019-10-21">Oct 21, 2019</time>
                    </div>
                    <!--description-->
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                      additional content. A small river flows by their place and ...</p>
                  </div>
                </div>
              </div>
            </article>
            <!--post start-->
            <article class="card card-full hover-a py-4">
              <div class="row">
                <div class="col-sm-6 col-md-12 col-lg-6">
                  <!--thumbnail-->
                  <div class="ratio_360-202 image-wrapper">
                    <a href="#">
                      <img class="img-fluid lazy" src="/themes/alemnews/img/assets/lazy-empty.png"
                        data-src="/themes/alemnews/img/360x202/img16.jpg" alt="Image description">
                    </a>
                  </div>
                </div>
                <div class="col-sm-6 col-md-12 col-lg-6">
                  <div class="card-body pt-3 pt-sm-0 pt-md-3 pt-lg-0">
                    <!--title-->
                    <h3 class="card-title h2 h3-sm h2-md">
                      <a href="#">The pioneering and popular compact Range Rover Evoque gets a major makeover</a>
                    </h3>
                    <!--author and date-->
                    <div class="card-text mb-2 text-muted small">
                      <span class="d-none d-sm-inline me-1">
                        <a class="fw-bold" href="#">John Doe</a>
                      </span>
                      <time datetime="2019-10-21">Oct 21, 2019</time>
                    </div>
                    <!--description-->
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                      additional content. A small river flows by their place and ...</p>
                  </div>
                </div>
              </div>
            </article>
            <!--post start-->
            <article class="card card-full hover-a py-4">
              <div class="row">
                <div class="col-sm-6 col-md-12 col-lg-6">
                  <!--thumbnail-->
                  <div class="ratio_360-202 image-wrapper">
                    <a href="#">
                      <img class="img-fluid lazy" src="/themes/alemnews/img/assets/lazy-empty.png"
                        data-src="/themes/alemnews/img/360x202/img19.jpg" alt="Image description">
                    </a>
                  </div>
                </div>
                <div class="col-sm-6 col-md-12 col-lg-6">
                  <div class="card-body pt-3 pt-sm-0 pt-md-3 pt-lg-0">
                    <!--title-->
                    <h3 class="card-title h2 h3-sm h2-md">
                      <a href="#">European markets fight back to close higher; oil in focus</a>
                    </h3>
                    <!--author and date-->
                    <div class="card-text mb-2 text-muted small">
                      <span class="d-none d-sm-inline me-1">
                        <a class="fw-bold" href="#">John Doe</a>
                      </span>
                      <time datetime="2019-10-21">Oct 21, 2019</time>
                    </div>
                    <!--description-->
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                      additional content. A small river flows by their place and ...</p>
                  </div>
                </div>
              </div>
            </article>
            <!--post start-->
            <article class="card card-full hover-a py-4">
              <div class="row">
                <div class="col-sm-6 col-md-12 col-lg-6">
                  <!--thumbnail-->
                  <div class="ratio_360-202 image-wrapper">
                    <a href="#">
                      <img class="img-fluid lazy" src="/themes/alemnews/img/assets/lazy-empty.png"
                        data-src="/themes/alemnews/img/360x202/img5.jpg" alt="Image description">
                    </a>
                  </div>
                </div>
                <div class="col-sm-6 col-md-12 col-lg-6">
                  <div class="card-body pt-3 pt-sm-0 pt-md-3 pt-lg-0">
                    <!--title-->
                    <h3 class="card-title h2 h3-sm h2-md">
                      <a href="#">MotoGP: Which team needs what in 2019?</a>
                    </h3>
                    <!--author and date-->
                    <div class="card-text mb-2 text-muted small">
                      <span class="d-none d-sm-inline me-1">
                        <a class="fw-bold" href="#">John Doe</a>
                      </span>
                      <time datetime="2019-10-21">Oct 21, 2019</time>
                    </div>
                    <!--description-->
                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to
                      additional content. A small river flows by their place and ...</p>
                  </div>
                </div>
              </div>
            </article>
          </div>
          <!-- end block content -->
        </div>
        <!--end block-->

        <!--Pagination-->
        <div class="clearfix my-4">
          <nav class="float-start" aria-label="Page navigation example">
            <!--page number-->
            <ul class="pagination">
              <li class="page-item active"><span class="page-link">1</span></li>
              <li class="page-item"><a class="page-link" href="../category/category.html">2</a></li>
              <li class="page-item"><a class="page-link" href="../category/category.html">3</a></li>
              <li class="page-item"><a class="page-link" href="../category/category.html">4</a></li>
              <li class="page-item"><span class="page-link disabled">....</span></li>
              <li class="page-item"><a class="page-link" href="../category/category.html">12</a></li>
              <li class="page-item">
                <a class="page-link" href="../category/category.html" aria-label="Next" title="Next page">
                  <span aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1.2rem" height="1.2rem" fill="currentColor"
                      viewBox="0 0 512 512">
                      <polyline points="184 112 328 256 184 400"
                        style="fill:none;stroke:currentColor;stroke-linecap:round;stroke-linejoin:round;stroke-width:48px" />
                    </svg>
                  </span>
                  <span class="visually-hidden">Next</span>
                </a>
              </li>
            </ul>
            <!--end page number-->
          </nav>
          <span class="py-2 float-end">Page 1 of 12</span>
        </div>
        <!--end pagination-->
      </div>
      <!-- end left column -->

      <!-- start right column -->
      <aside class="col-md-4 end-sidebar-lg">
        <!-- sidebar sticky start -->
        <div class="sticky">
          <!--widget start-->
          <aside class="widget">
            <!-- block title -->
            <div class="block-title-4">
              <h4 class="h5 title-arrow">
                <span>Most read</span>
              </h4>
            </div>
            <!-- block content -->
            <div class="small-post">
              <!--post list-->
              <article class="card card-full hover-a mb-4">
                <div class="row">
                  <!--thumbnail-->
                  <div class="col-3 col-md-4 pe-2 pe-md-0">
                    <div class="ratio_110-77 image-wrapper">
                      <a href="#">
                        <img class="img-fluid lazy" src="/themes/alemnews/img/assets/lazy-empty.png"
                          data-src="/themes/alemnews/img/110x77/img1.jpg" alt="Image description">
                      </a>
                    </div>
                  </div>
                  <!-- title & date -->
                  <div class="col-9 col-md-8">
                    <div class="card-body pt-0">
                      <h3 class="card-title h6 h5-sm h6-md">
                        <a href="#">Apple's stock rout starts and ends with the iPhone</a>
                      </h3>
                      <div class="card-text small text-muted">
                        <time datetime="2019-10-16">Oct 16, 2019</time>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <!--post list-->
              <article class="card card-full hover-a mb-4">
                <div class="row">
                  <!--thumbnail-->
                  <div class="col-3 col-md-4 pe-2 pe-md-0">
                    <div class="ratio_110-77 image-wrapper">
                      <a href="#">
                        <img class="img-fluid lazy" src="/themes/alemnews/img/assets/lazy-empty.png"
                          data-src="/themes/alemnews/img/110x77/img2.jpg" alt="Image description">
                      </a>
                    </div>
                  </div>
                  <!-- title & date -->
                  <div class="col-9 col-md-8">
                    <div class="card-body pt-0">
                      <h3 class="card-title h6 h5-sm h6-md">
                        <a href="#">94 Easy Chicken Recipes for Fuss-Free Family Dinners</a>
                      </h3>
                      <div class="card-text small text-muted">
                        <time datetime="2019-10-15">Oct 15, 2019</time>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <!--post list-->
              <article class="card card-full hover-a mb-4">
                <div class="row">
                  <!--thumbnail-->
                  <div class="col-3 col-md-4 pe-2 pe-md-0">
                    <div class="ratio_110-77 image-wrapper">
                      <a href="#">
                        <img class="img-fluid lazy" src="/themes/alemnews/img/assets/lazy-empty.png"
                          data-src="/themes/alemnews/img/110x77/img3.jpg" alt="Image description">
                      </a>
                    </div>
                  </div>
                  <!-- title & date -->
                  <div class="col-9 col-md-8">
                    <div class="card-body pt-0">
                      <h3 class="card-title h6 h4-sm h6-md">
                        <a href="#">Ford reveals autonomous vehicle philosophies, priorities</a>
                      </h3>
                      <div class="card-text small text-muted">
                        <time datetime="2019-10-14">Oct 14, 2019</time>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <!--post list-->
              <article class="card card-full hover-a mb-4">
                <div class="row">
                  <!--thumbnail-->
                  <div class="col-3 col-md-4 pe-2 pe-md-0">
                    <div class="ratio_110-77 image-wrapper">
                      <a href="#">
                        <img class="img-fluid lazy" src="/themes/alemnews/img/assets/lazy-empty.png"
                          data-src="/themes/alemnews/img/110x77/img4.jpg" alt="Image description">
                      </a>
                    </div>
                  </div>
                  <!-- title & date -->
                  <div class="col-9 col-md-8">
                    <div class="card-body pt-0">
                      <h3 class="card-title h6 h4-sm h6-md">
                        <a href="#">Bowen's Super Bowl LIII game plans: Which defense will get stops?</a>
                      </h3>
                      <div class="card-text small text-muted">
                        <time datetime="2019-10-16">Oct 16, 2019</time>
                      </div>
                    </div>
                  </div>
                </div>
              </article>
              <!--End post list-->
            </div>
            <!--end block content-->
            <div class="gap-0"></div>
          </aside>
          <!--End widget-->

          <!-- widget start -->
          <aside class="widget">
            <!-- widget content -->
            <div class="p-4 border bg-light-dark text-center mb-4">
              <!--title-->
              <h4>Get Updates</h4>
              <p class="text-dark">Subscribe our newsletter to get the last update into your inbox!</p>
              <!--form start-->
              <div class="mx-auto">
                <form id="subscribe" class="needs-validation" action="#" novalidate="">
                  <div class="input-group">
                    <input type="email" class="form-control" name="email" required="" aria-label="email form"
                      placeholder="Enter your email address">
                    <button class="btn btn-primary" type="submit">Subscribe</button>
                    <div class="invalid-feedback">
                      Please insert email address.
                    </div>
                  </div>
                </form>
              </div>
              <!--end form-->
              <p class="small text-center text-dark mt-3">hate spammers, and never spam</p>
            </div>
            <!-- end widget content -->
            <div class="gap-0"></div>
          </aside>

          <!-- custom post -->
          <aside class="widget">
            <div class="block-title-4">
              <h4 class="h5 title-arrow"><span>Travelling</span></h4>
            </div>
            <!--style 2-->
            <div class="small-post">
              <!--post list-->
              <article class="card card-full hover-a mb-2">
                <div class="card-body pt-0">
                  <!--title-->
                  <h3 class="card-title h5">
                    <a href="#">Fans celebrate in Paris after side reaches World Cup final</a>
                  </h3>
                  <!--date-->
                  <div class="card-text small text-muted">
                    <time datetime="2019-06-16">Jun 16, 2019</time>
                  </div>
                </div>
              </article>
              <!--post list-->
              <article class="card card-full hover-a mb-2">
                <div class="card-body pt-0">
                  <!--title-->
                  <h3 class="card-title h5">
                    <a href="#">5 Tips to Save Money Booking Your Next Hotel Room</a>
                  </h3>
                  <!--date-->
                  <div class="card-text small text-muted">
                    <time datetime="2019-06-16">Jun 16, 2019</time>
                  </div>
                </div>
              </article>
              <!--post list-->
              <article class="card card-full hover-a mb-2">
                <div class="card-body pt-0">
                  <!--title-->
                  <h3 class="card-title h5">
                    <a href="#">The 52 Places Traveler: Summer in France, in Two Very Different Ways</a>
                  </h3>
                  <!--date-->
                  <div class="card-text small text-muted">
                    <time datetime="2019-06-16">Jun 16, 2019</time>
                  </div>
                </div>
              </article>
              <!--post list-->
              <article class="card card-full hover-a mb-2">
                <div class="card-body pt-0">
                  <!--title-->
                  <h3 class="card-title h5">
                    <a href="#">6 Simple Tips to Help Vegetarian or Vegan Travelers Eat Well, Anywhere</a>
                  </h3>
                  <!--date-->
                  <div class="card-text small text-muted">
                    <time datetime="2019-06-16">Jun 16, 2019</time>
                  </div>
                </div>
              </article>
            </div>
            <div class="gap-0"></div>
          </aside>
        </div>
        <!--end Sidebar sticky-->
      </aside>
      <!-- end right column -->
    </div>
  </div>
</main>
<!--End Content-->
