<div id="dataTableLanguage" class="d-none">
    <div data-key="sSearch"><span class="input-group-addon"><i class="far fa-search"></i></span></div>
    <div data-key="sProcessing">@T("ls_Processing")...</div>
    <div data-key="sLengthMenu">@T("ls_Showmenuentries")</div>
    <div data-key="sZeroRecords">@T("ls_Nomatchingrecordsfound")</div>
    <div data-key="sInfo">@T("ls_Showingstarttoeneoftotalentries")</div>
    <div data-key="sInfoEmpty">@T("ls_Showing0to0of0entries")</div>
    <div data-key="sInfoFiltered">(@T("ls_Filteredfrommaxtotalentries"))</div>
    <div data-key="sInfoPostFix"></div>
    <div data-key="sUrl"></div>
    <div data-key="oPaginate">
        <div data-key="sFirst">@T("ls_Firstpage")</div>
        <div data-key="sPrevious">@T("ls_Previouspage")</div>
        <div data-key="sNext">@T("ls_Nextpage")</div>
        <div data-key="sLast">@T("ls_Lastpage")</div>
    </div>
</div>