<section class="pc-container">
    <div class="pc-content">
        <div class="page-header">
            <div class="page-block">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <ul class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a href="javascript:void(0)">@T("ls_Catalog")</a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">@ViewData["title"]</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-12 col-sm-4 mb-3 mb-sm-0">
                                <h5>@ViewData["title"]</h5>
                            </div>
                            <div class="col-12 col-sm-8 text-end">
                                <div class="d-flex flex-wrap gap-2 justify-content-end">
                                    @if (CanCreate)
                                    {
                                        <a href="/@CurrentLanguage/@ControllerName.ToLower()/@ActionName.ToLower()/create"
                                            class="btn btn-outline-primary d-inline-flex">
                                            <i class="fa-duotone fa-circle-plus me-1"></i> @T("ls_Create")
                                        </a>
                                    }
                                    @if (CanDelete)
                                    {
                                        <button type="button" class="btn btn-outline-danger d-inline-flex"
                                            data-qar-tableid="qar-table"
                                            data-qar-confirm="/@CurrentLanguage/@ControllerName/Set@(ActionName)Status"
                                            data-qar-ok="@T("ls_Yes")" data-qar-cancel="@T("ls_No")"
                                            data-qar-title="@T("ls_Areyousure")">
                                            <i class="fa-duotone fa-trash me-1"></i> @T("ls_Deleteselected")
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="dt-responsive">
                            <table id="qar-table" class="table table-striped table-bordered nowrap">
                                <thead>
                                    <tr>
                                        <th>
                                            <div class="form-check abc-checkbox">
                                                <input class="form-check-input datatable-checkbox-all"
                                                    id="datatable-checkbox-all" type="checkbox">
                                                <label class="form-check-label" for="datatable-checkbox-all"></label>
                                            </div>
                                        </th>
                                        <th>@T("ls_Title")</th>
                                        <th>@T("ls_Administrator")</th>
                                        <th>@T("ls_View")</th>
                                        <th>
                                            <div class="d-flex gap-3 px-1">
                                                <a href="/@CurrentLanguage/Modal/DateTimePicker?elementId=date-time-result-value"
                                                    rel="custom-modal">
                                                    <i class="fa-duotone fa-calendar"></i>
                                                    <input type="hidden" id="date-time-result-value" />
                                                </a>
                                                <span>@T("ls_AddTime")</span>
                                            </div>
                                        </th>
                                        @if (CanEdit)
                                        {
                                            <th>@T("ls_Management")</th>
                                        }
                                    </tr>
                                </thead>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>